.oneline, .pt_custommenu .pt_menu .popup .block1 .column .itemMenuName { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.block-megamenu { /*display: inline-block; width: 100%;*/ /*margin-top: 10px;*/ }

.pt_custommenu { position: relative; margin: 0 auto; text-align: right;}
.pt_custommenu .pt_menu_no_child .parentMenu a span:before, .pt_custommenu .pt_menu_cms .parentMenu a span:before, .pt_custommenu #pt_menu_home .parentMenu a span:before { display: none; }
.pt_custommenu .pt_menu { display: inline-block; padding:10px; cursor: pointer;}
.pt_custommenu .pt_menu .parentMenu a { display: block; padding: 5px 15px; color: #000; margin: 0 1px; text-transform: uppercase; position: relative; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; font-size: 14px; font-weight: 400; }

@media (max-width: 1199px) { 
    .pt_custommenu .pt_menu .parentMenu a { padding: 20px; }
    .pt_custommenu .pt_menu .popup .block2 { max-width: 767px; }
}
/*.pt_custommenu .pt_menu .parentMenu a:before { content: ""; position: absolute; left: -2px; top: 20px; width: 2px; height: 25px; background: #484848; }*/
.pt_custommenu .pt_menu .parentMenu a span { display: inline-block; padding: 0; line-height: 25px; font-size: 12px; letter-spacing: 1px; color: #3A3A3A; -webkit-transition: all .5s ease;}
.pt_custommenu .pt_menu:last-child .parentMenu a span{ padding:3% 15%; font-size: 12px; letter-spacing: 1px; color: #3A3A3A; border: 2px solid #3A3A3A;}
.pt_custommenu .pt_menu:last-child .parentMenu a span:hover{border: 2px solid #c9b197; color: #c9b197;}
.parentMenu > a:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  text-align: center;
  bottom: 0;
  left: 15px;
  background: #c9b197;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
.parentMenu > a:hover:before,
.parentMenu > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
.pt_custommenu .pt_menu:last-child .parentMenu a:before { display: none; }
.pt_custommenu .pt_menu:first-child .parentMenu a:before { width: 72%; }
/*.pt_custommenu .pt_menu .parentMenu a span:before { position: absolute; right: 10px; content: "\f107"; font-family: FontAwesome; font-size: 16px; }*/
/*.pt_custommenu .pt_menu:first-child .parentMenu a:before { display: none; }*/
/*.pt_custommenu .pt_menu:last-child .parentMenu a { padding-right: 0; }*/
.pt_custommenu .pt_menu .popup { position: absolute; background-color: #fff; text-align: left; -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.39); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.39); z-index: 9; border-top: 0; }
.pt_custommenu .pt_menu .popup .block2 { margin-top: 10px; display: inline-block; width: 100%; }
.pt_custommenu .pt_menu .popup .block1 { overflow: hidden; float: left; padding: 30px; }
.pt_custommenu .pt_menu .popup .block1 .column { float: left; width: 180px; margin-right: 20px; margin-bottom: -99999px; padding-bottom: 99999px; }
.pt_custommenu .pt_menu .popup .block1 .column .itemMenuName { color: #404e53; line-height: 25px; padding-bottom: 10px; text-transform: uppercase; font-weight: 700; font-size: 12px; }
.pt_custommenu .pt_menu .popup .block1 .column .itemMenuName:hover { color: #ee4a42; }
.pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName { color: #878787; text-transform: capitalize; padding: 0; font-weight: 400; font-size: 12px; }
.pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName:before { content: "\f138"; font-family: "FontAwesome"; font-size: 11px; opacity: 0; margin-right: -7px; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName:hover { color: #ee4a42; }
.pt_custommenu .pt_menu .popup .block1 .column .itemSubMenu .itemMenuName:hover:before { opacity: 1; margin-right: 7px; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.pt_custommenu .pt_menu .popup .block1 .blockright { width: 150px; margin-right: 0; }
.pt_custommenu .pt_menu.act .parentMenu a, .pt_custommenu .pt_menu.active .parentMenu a { color: #ee4a42; -webkit-transition: all 300ms ease-in; -moz-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in; -o-transition: all 300ms ease-in; transition: all 300ms ease-in; }
.pt_custommenu .pt_menu.act .parentMenu a i, .pt_custommenu .pt_menu.active .parentMenu a i { color: #ee4a42; }

.nav-collapse { text-align: left; }

.navbar .nav > li { padding: 10px 30px 20px 0; }

#ma-mobilemenu { height: auto; display: none; padding: 3px 0 0 0; border-top: 0; float: left; width: 100%; margin-bottom: 10px; }

.posmegamenu { position: relative; line-height: 0; }

.navbar-inner { background: #ee4a42; border: 0; border-radius: 0; min-height: 50px; text-align: left; }

.navbar { margin: 15px 0; z-index: 9; }
.navbar .btn-navbar { position: absolute; right: 15px; top: 8px; margin: 0; padding: 0; border-radius: 3px; text-align: center; overflow: hidden; }
.navbar .btn-navbar:before { content: "\f03a "; font-family: "FontAwesome"; font-size: 24px; color: #fff; margin: 0; padding: 0; }
.navbar .btn-navbar .icon-bar { display: none; }

.mobilemenu > li.last a { border-bottom: 0; }

.navbar .brand { color: #fff; text-transform: uppercase; font-size: 18px; font-weight: normal; line-height: 50px; display: inline-block; padding-left: 20px; font-family: "helvetica"; }

.mobilemenu { list-style-type: none; padding: 0; margin: 0; float: left; display: block; width: 100%; }
.mobilemenu li { background: #faf8f8; cursor: pointer; list-style-type: none; padding: 0; margin: 0; display: block; width: 100%; position: relative; }
.mobilemenu li a { text-decoration: none; border-bottom: 1px solid #e0d8d8; line-height: 40px; font-weight: normal; color: #111; margin: 0 15px; display: block; cursor: pointer; font-size: 14px; text-transform: capitalize; }
.mobilemenu li.active a, .mobilemenu li a:hover { color: #ee4a42; }
.mobilemenu li ul { padding: 0 15px; }
.mobilemenu li ul ul { padding: 0 15px; }

/*----------- button mobilemenu -------------*/
.mobilemenu span.head { position: absolute; top: 15px; right: 10px; }
.mobilemenu span.head a { display: block; height: 15px; padding: 0; width: 15px; border: 0; }

.mobilemenu .OPEN a:before { content: "\f068 "; font-family: "FontAwesome"; line-height: 34px; font-size: 14px; position: absolute; top: -8px; right: 17px; }

.mobilemenu .CLOSE a:before { content: "\f067 "; font-family: "FontAwesome"; line-height: 34px; font-size: 14px; position: absolute; top: -8px; right: 17px; }
header .row {
background: #ffffff;
-webkit-box-shadow: 0px 0px 3px 0px #e0e0e0;
-moz-box-shadow: 0px 0px 3px 0px #e0e0e0;
box-shadow: 0px 0px 3px 0px #e0e0e0;