@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);

.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

#categories_block_top { clear: both; position: relative; top: 30px; }
#categories_block_top .sf-menu { position: relative; }
#categories_block_top .sf-menu > li { position: static; }
#categories_block_top .sf-menu > li > ul { width: 100%; top: 60px; margin: 0 20px; }
#categories_block_top .sf-menu > li > ul > li { display: block; float: left; width: 20%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 10px; }
#categories_block_top .sf-menu > li > ul > .category_thumb { display: block; clear: both; overflow: hidden; width: 100%; }
#categories_block_top .sf-menu > li > ul > .category_thumb img { display: inline-block; width: 33%; }
#categories_block_top .sf-menu > li h4 a { font-size: 1.1em; }
#categories_block_top .sf-menu > li h4 a:before { display: none; }
#categories_block_top .sf-menu > li .main-level-submenus { position: relative; display: block !important; visibility: visible !important; top: 0; background: none; box-shadow: none; padding: 0; left: 0; }
#categories_block_top .sf-menu .category_thumb { display: none; }

#categories_block_left h2.title_block {font-family: 'Montserrat' !important; letter-spacing: 1px; padding-left: 20px; margin-bottom: 5px; font-size: 10px; color: #6c6c6c; border-bottom: 1px dotted #D2D1D1; }
#categories_block_left li { position: relative; }
#categories_block_left li a {font-family: 'Open Sans' !important; letter-spacing: 0px !important; font-weight: normal; color: #6c6c6c; display: block; font-size: 12px; line-height: 44px; text-transform: uppercase; padding: 0 19px 0 20px; }
#categories_block_left li a:hover { color: #ee4a42; }
#categories_block_left li span.grower { display: block; position: absolute; left: 0; top: 0; cursor: pointer; font-family: "FontAwesome"; font-size: 14px; }
#categories_block_left li span.grower.OPEN:before, #categories_block_left li span.grower.CLOSE:before { content: "\f147"; display: block; vertical-align: middle; width: 30px; height: 50px; color: #252525; line-height: 50px; text-align: center; }
#categories_block_left li span.grower.CLOSE:before { content: "\f196"; }
#categories_block_left li span.grower:hover + a, #categories_block_left li a:hover, #categories_block_left li a.selected { color: #ee4a42; }
#categories_block_left li li a { font-weight: normal; color: #777777; }
/*#categories_block_left li li a:before { content: "\f105"; font-family: "FontAwesome"; line-height: 29px; padding-right: 8px; }*/
#categories_block_left li li a { padding-left: 20px; }
.categoryfather { cursor: pointer; }
.line-bottom { border: 1px solid #EF4136; width: 50px; margin-left: 20px; }
.blockCat { margin: 0!important; }
.title_block::after { content: attr(after-content); float: right; font-size: 16px; color: #8A8989; }