/*******************/
/* Rewards account */
/*******************/
.rewards {
	margin-bottom: 20px;
        padding-left:2%;
        padding-right:2%;
}

.rewards h2 {
	padding-bottom: 10px !important;
}

.rewards p {
    margin: 0.5em 0 !important;
    padding: 0 !important;
    width: 100%;
    border: none;
    color: #666666;
    font-family: 'Open sans';
}

.rewards table.std {
	border-style: none !important;
	margin-bottom: 20px;
}

.rewards table.std thead {
	border-collapse: collapse;
	border: solid 1px #999999 !important;
}

.rewards table.std th {
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    height: 13px !important;
    padding: 5px !important;
    text-shadow: none !important;
    background-color: #cccccc;
    color: #FFFFFF;
    text-transform: uppercase;
}

.rewards table.std td {
    /*border: 1px solid #E9E9E9 !important;*/
    font-size: 11px;
    line-height: 13px;
    padding: 5px !important;
    
}

.rewards div.pagination {
    padding: 0;
    margin: -10px 0px 15px;
    width:100%;
    background: #ccc;
    text-align:right;
    height:38px;
}

.pagination > li > a, .pagination > li > span{
    line-height: .8 !important;
    background-color: #ebebec;
    height:25px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span{
    margin-right:20px !important;
    background: #ebebec;
    text-align:center;
    padding:0px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span{
    margin-right:0px !important;
    background: #ebebec;
    text-align:center;
    padding:0px !important;
}

.pagination{
    margin-top:6px !important;
}

.rewards form.pagination {
	display: none;
}

.rewards div#transform, .rewards div#payment {
	padding-top: 20px;
    text-align: center;
}

.rewards div#transform a, .rewards div#payment a {
    background: url("../img/bg_bt.gif") repeat-x scroll 0 0 #F4B61B;
    border: 1px solid #CC9900;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 5px 7px;
    position: relative;
    text-decoration: none;
}

.rewards div#transform a span, .rewards div#payment a span {
	color: red;
}

.rewards div#payment #payment_form {
	margin-top: 20px;
	text-align: left;
}

.rewards div#payment fieldset {
	padding: 10px;
	background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #CCCCCC;
    margin: 0;
}

.rewards div#payment p {
    margin: 0;
    padding: 0 0 10px;
}
.rewards div#payment p.required {
    color: #222222;
}

.rewards div#payment p.required sup {
    color: #990000;
}

.rewards div#payment p label {
    display: inline-block;
    float: left;
    font-size: 12px;
    width: 25%;
}

.rewards div#payment p.textarea textarea {
    border: 1px solid #CCCCCC;
    color: #666666;
    font-size: 12px;
}

.rewards div#payment label {
	text-align: left;
}

.rewards div#payment .button {
	margin: 20px auto 0;
	display: block;
}

.rewards p.success {
    background: none repeat scroll 0 0 #A5FC9F;
    border: 1px solid green;
    color: green;
    font-size: 13px;
    margin: 0 0 10px;
    padding: 10px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rewards p.error {
    background: none repeat scroll 0 0 #FFDDDD;
    border: 1px solid #DA0F00;
    color: #DA0F00;
    font-size: 13px;
    margin: 0 0 10px;
    padding: 10px !important;
    width: auto !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/***************/
/* Sponsorship */
/***************/
.block_hidden_only_for_screen {
	display: none !important;
}

#sms_form #phone {
	display: inline;
	width: 120px;
}

.checker {
	padding-top: 0 !important;
}

.sponsorship_nok {
	border-color: #D52525 !important;
}

.rewards div.sheets {
	padding: 0 10px 30px 10px;
	overflow: auto;
	border: solid 1px #DDDDDD;
}

.rewards .idTabs {
	margin-top: 10px !important;
	margin-bottom: 0px;
	width: 100%;
	display: table;
}

.rewards .idTabs li {
	width: 25%;
	text-align: center;
	padding-right: 1px;
	margin-right: 0;
	margin-bottom: -1px;
	display: table-cell;
	float: left;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rewards .idTabs a {
	width: 100%;
	padding: 8px 0;
	background-image: none;
	background-color: #f6f6f6;
	border: solid 1px #DDDDDD;
	border-radius: 2px 2px 0 0;
	font-size: 11px;
	line-height: 16px;
	color: #555454;
	text-transform: uppercase;
    display: block;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Comment these 2 blocks if you want to keep the standart style of your theme for the tabs */
.rewards .idTabs .selected {
	background-color: #FFFFFF;
	background-image: none;
	border-bottom: 1px solid #ffffff;
	text-decoration: none;
}
/* end */

.sponsorshipBlock div {
	padding-top: 10px;
	vertical-align: top !important;
	font-size: 12px;
}

.sponsorshipBlock li img {
	height: 20px !important;
}

.sponsorshipBlock a {
	text-decoration: underline;
}

.sponsorshipBlock input[type=text],
.sponsorshipBlock input[type=password],
.sponsorshipBlock textarea,
.sponsorshipBlock select {
	border: 1px solid #BDC2C9;
}

.sponsorshipBlock input[type=text],
.sponsorshipBlock input[type=password] {
    height: 25px !important;
    width: 98%;
    background-color: #f9f9f9;
    border: none;
}

.sponsorshipBlock input[type=text]:first-child{
    margin-top: 5px;
}


.sponsorshipBlock textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin-bottom: 15px;
}

.sponsorshipBlock ul {
	padding-left: 25px !important;
}

.sponsorshipBlock li {
	padding-top: 10px;
	list-style-type: disc;
}

.sponsorshipBlock div.submit {
	padding-bottom: 10px;
}

.sponsorshipBlock form.std p.submit {
	padding-left: 0px !important;
}

.sponsorshipBlock #sponsorship_text p {
	padding: 0px !important;
	margin: 0 !important;
}

#sponsorship_rules {
	width: auto;
	max-width: 550px;
}

/* sponsorship statistics */
.sponsorshipBlock tr.total {
	font-weight: bold;
	background-color: #EEEEEE;
}

.sponsorshipBlock td.total {
	font-weight: bold;
	background-color: #EEEEEE;
}

.sponsorshipBlock div.title {
	font-weight: bold;
	margin-bottom: 3px;
	text-transform: uppercase;
}

.sponsorshipBlock .left {
	text-align: left;
	float: none !important;
}

.sponsorshipBlock .center {
	text-align: center;
}

.sponsorshipBlock .right {
	text-align: right;
	float: none !important;
}

/*********/
/* Popup */
/*********/
.sponsorshipPopup {
	width: auto;
	max-width: 550px;
	text-align: left;
}

.sponsorshipPopup #invite, .sponsorshipPopup #noinvite {
	display: inline;
}

.rewards p.popup {
	text-align: center;
	padding: 10px 0 0 !important;
}


/************/
/* Facebook */
/************/
.rewards_facebook_button {
	margin-top: 10px;
	text-align: right;
	clear: both;
	z-index: 1000;
}
#facebookblock .block_content {
	padding-top: 3px;
}
.reward_facebook_block_button {
	margin-top: 10px;
	text-align: center;
}
#reward_facebook_cart {
	padding-bottom: 10px;
}
#reward_facebook_cart p, #reward_facebook_cart .reward_facebook_cart_button {
	display: inline;
}
#rewards_facebook_code {
	font-weight: bold;
}
#rewards_facebook_confirm {
	display: none;
}

/******************/
/* authentication */
/******************/
.account_creation.aior_sponsor label {
	display: block;
}
.account_creation #sponsorship {
	display: inline-block;
}

/***********/
/* product */
/***********/
#product p#loyalty {
	display: none;
        text-align:justify;
        width:94%;
        margin-left:0px;
        font-size:92%;
}
#product #sponsorship_link a::before {
    content: "\f1e0";
}

.title-sponsor{
    font-family: 'Open sans';
    text-transform: uppercase;
    font-size: 15px;
    color:#4d4d4d;
    font-weight: 700;
}

.title-sponsor span{
    color: #ed1c24;
    margin-left: 5px;
    text-transform: lowercase;
    font-size: 11px;
    font-weight: bold;
}

.bannerNetwork{
    height:210px;
    width:auto;
}

.divNetwork{
    color:white;
    text-align:center;
}

.titleNetwork{
    margin-top:5%;
    font-size:60px;
    text-align:center;
}

.pNetwork{
    font-size:14px;
    font-family:san-serif;
    text-transform: uppercase;
}

.graphicStat{
    height: 300px; margin-top: 5%;
    margin-bottom:3%;
    border-bottom:1px solid #cccccc;
    
}

.tituloNet{
    margin-bottom:1%; color: #838383; font-size: 16px;
    margin-top:4%;
    font-family: OpenSans;
    width:50% !important;
}

.yourPointnet{
    height:60px !important;
    background: transparent !important;
    padding-top:5%;
}

.yourPointnet> #yourPoint{
    height:40px !important;
    background: #ccc !important;
    width: 40%;
}

.yourPointnet> #topPoint{
    height:40px !important;
    background: #c9b197 !important;
    width: 100%;
}

.yourPointnet> #worstPoint{
    height:40px !important;
    background: #ef4136 !important;
    width: 25%;
}

.pGrap{
    font-size:10px;
}

.puntoGrap{
    padding:2%;
    color: #fff;
    font-size:16px;
    font-family:san-serif;
}
