<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>reportliability</name>
	<displayName><![CDATA[Reporte Liability]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Reporte Liability]]></description>
	<author><![CDATA[Ingenio Contenido Digital SAS]]></author>
	<tab><![CDATA[analytics_stats]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>