.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/**********************************************************
				Authentication Styles
**********************************************************/
#account-creation_form .id_state, #account-creation_form .dni, #account-creation_form .postcode { display: none; }

#create-account_form { min-height: 297px; }
#create-account_form p { margin-bottom: 8px; }
#create-account_form .form-group { margin: 0 0 20px 0; }

#login_form { min-height: 297px; }
#login_form .form-group { margin: 0 0 3px 0; }
#login_form .form-group.lost_password { margin: 9px 0 9px 0; font-weight: bold;}
/*#login_form .form-group.lost_password a { text-decoration: underline; }*/
#login_form .form-group.lost_password a:hover { text-decoration: underline; cursor:pointer; }

#login_form .form-control, #create-account_form .form-control { max-width: 271px; }

#uniform-id_country { width: 38%!important; }
.gender:first-of-type { margin-left: 0!important; }
.gender { display: inline-block; vertical-align: middle; margin-left: 15px; }
.gender label { margin-top: 0; }
#valorSlider { height: 22px; width: 100px; }
#valorSlider, .money { color: #ef4136; font-size: 25px; font-weight: bold; display: inline-block; vertical-align: middle; }
.stand_out { color: #ef4136; }
input[type=range] { -webkit-appearance: none; }
input[type=range]::-webkit-slider-runnable-track { height: 2px; background: #ddd; border: none; border-radius: 3px; }
input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; border: 1px solid #ddd; height: 25px; width: 25px; border-radius: 50%; background: #fff; margin-top: -10px; }
input[type=range]:focus::-webkit-slider-runnable-track { background: #ccc }
input[type=range]:focus::-webkit-slider-thumb { border: 2px solid #ccc; }
.rangeslider { margin-top: 13.6%; width: 50%; }
p + .required { font-weight: bold; }
#authentication .payublock .container .form-group { height: 55px; }
#authentication .payublock .container .btnpayment { height: 0px!important; }
#submitTc, #submitPSE { display: none; pointer-events: none; z-index: -1; }

.stick {
  position:fixed;
  top:20px;
  margin-top: 20px;
}

.info-box{
    min-width: 310px;
    min-height: 350px;
    max-height: 350px;
    overflow:hidden;
    background-color: #fdfdfd;
    border:solid 1px #ddd;
    padding: 5px 10px 50px 10px;
    margin: 5px;
    margin-bottom: 20px;
}

.info-box p{
    text-align: justify;
    line-height: 18px;
    margin-top: 20px;
    background: none;
}

.borde-inf{
    border-bottom-color: #ddd !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
}