.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/**********************************************************
				Authentication Styles
**********************************************************/
#account-creation_form .id_state, #account-creation_form .dni, #account-creation_form .postcode { display: none; }

#create-account_form { min-height: 297px; }
#create-account_form p { margin-bottom: 8px; }
#create-account_form .form-group { margin: 0 0 20px 0; }

#login_form { min-height: 297px; }
#login_form .form-group { margin: 0 0 3px 0; }
#login_form .form-group.lost_password { margin: 9px 0 9px 0; font-weight: bold;}
/*#login_form .form-group.lost_password a { text-decoration: underline; }*/
#login_form .form-group.lost_password a:hover { text-decoration: underline; cursor:pointer; }
#acceptterms{ font-size: 12px; color: #000; font-weight: bold; font-family: 'Open Sans';}
#login_form .form-control, #create-account_form .form-control { max-width: 271px; }
.learn-buy{color: #f14e38;letter-spacing: 1px;font-weight: 500;text-decoration: none;font-size: 14.5px;}
#uniform-id_country { width: 38%; }
.gender:first-of-type { margin-left: 0!important; }
.gender { display: inline-block; vertical-align: middle; margin-left: 15px; }
.gender label { margin-top: 0; }
#valorSlider { width: 100px; }
#valorSlider, .money { color: #ef4136; font-size: 25px; font-weight: bold; display: inline-block; vertical-align: middle; margin-top: -7px;}
.stand_out { color: #ef4136; }
input[type=range] { -webkit-appearance: none; }
input[type=range]::-webkit-slider-runnable-track { height: 2px; background: #ddd; border: none; border-radius: 3px; }
input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; border: 1px solid #ddd; height: 25px; width: 25px; border-radius: 50%; background: #fff; margin-top: -10px; }
input[type=range]:focus::-webkit-slider-runnable-track { background: #ccc }
input[type=range]:focus::-webkit-slider-thumb { border: 2px solid #ccc; }
.rangeslider { margin-top: 13.6%; width: 50%; }
p + .required { font-weight: bold; }
#authentication .payublock .container .form-group { height: 55px; }
#authentication .payublock .container .btnpayment { height: 0px!important; }
#submitTc, #submitPSE { display: none; pointer-events: none; z-index: -1; }

.bulletins { background-color: #C9B197; padding: 15px 30px; }
.bulletins div { margin-bottom: 15px; }
.bulletins div img { width: 130px; }

/* Deshabilitar Formularions */
.first-inscription{display: none;}

.style_prevu_kit
{
    position: relative;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

}
.style_prevu_kit:hover
{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
}

.stick {
  position:fixed;
  top:20px;
  margin-top: 20px;
}

.info-box{
    min-width: 310px;
    min-height: 350px;
    max-height: 350px;
    overflow:hidden;
    background-color: #fdfdfd;
    border:solid 1px #ddd;
    padding: 5px 10px 50px 10px;
    margin: 5px;
    margin-bottom: 20px;
}

.info-box p{
    text-align: justify;
    line-height: 18px;
    margin-top: 20px;
    background: none;
}

#apple_store{
    width: 100%;
}

#google_play{
    width: 100%;
}
.apple_s{margin-top: 14px !important; margin-left: 15px;}


/* CONFIRMACION SMS */

.block-banner { font-family: 'Open Sans'; background: #F14E38; margin-top: 15px; padding: 30px 0; color: white; }
.block-banner > .text { font-size: 15px; padding: 50px; }
.block-banner > .text > span { font-size: 20px; line-height: 30px; font-weight: bold; }
.block-banner > .img { text-align: center; }
.block-banner > .img > img { width: 100%; }

.block-successfulregistration2 { font-family: 'Open Sans'; text-align: center; font-weight: bold; font-size: 15px; margin-top: 0px; border: 1px solid #72C279; color: #72C279; background: #f7f7fb; padding: 15px 25px; }
.block-successfulregistration2 > a { border: 1px solid #72C279; color: white; background: #72C279; padding: 13px 60px; }

.block-successfulregistration { font-family: 'Open Sans'; text-align: center; font-weight: bold; font-size: 15px; margin-top: 60px; border: 1px solid #72C279; color: #72C279; background: #f7f7fb; padding: 15px 25px; }
.block-successfulregistration > a { border: 1px solid #72C279; color: white; background: #72C279; padding: 13px 60px; }

.block-errors { font-family: 'Open Sans'; margin-top: 60px; border: 1px solid #F14E38; color: #F14E38; padding: 15px 25px; }
.block-errors > span { color: #F14E38; font-size: 15px; }

.block-form { font-family: 'Open Sans'; margin-top: 60px; }
.block-form > span { font-size: 20px ; font-weight: bold; color: #000;}
.block-form > form { margin-top: 30px; font-size: 15px; }
.block-form > form > div > input { font-size: 15px; }

.block-confirmsms { text-align: center; }
.block-confirmsms > form > div > input { text-align: center; }

select, input { width: 100%!important; border: none!important; border-bottom: 1px solid #F14E38!important; }
select { padding: 7px 15px!important; }
input { height: 38px !important;}

.form-check-label { margin-bottom: 0; margin-top: 4px; }

#register, #confirm { margin-top: 15px; background: #F14E38; border: 1px solid #F14E38; font-size: 14px; font-weight: bold; letter-spacing: 2px; }
#register:hover, #confirm:hover { background: #C9B197; border: 1px solid #C9B197; }
#resendSMS { padding: 6px 24px; margin-top: 5px; margin-bottom: 5px; margin-left: 3px; background: #C9B197; border: 1px solid #C9B197; font-size: 14px; font-weight: bold; letter-spacing: 2px; }
#resendSMS:hover { background: #F14E38; border: 1px solid #F14E38; }
#error_novalidos{    
    padding: 0;
    background: #ef4136;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 20px; padding: 5px;}

#confirm_validos{    
    padding: 0;
    background: #72C279;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 20px; padding: 5px;}

@media (max-width:990px){
    .first-inscription{display: block;}
    .second-inscription{display: none;}
    .fieldInfo{width: 100%; margin-left: 0px;}
    .radio-inline, .checkbox{text-align: left;}
    .apple_s{margin-top: 18px !important;}
}

@media (max-width:760px){
    .videoWrapper iframe {
            width: 100%;
            height: 100%;
    }
    .learn-buy{ font-size: 12px;}
    .btnInfo{width: 100%;}
    #address .form-group .form-control, #identity .form-group .form-control, #account-creation_form .form-group .form-control, #new_account_form .form-group .form-control, #opc_account_form .form-group .form-control, #authentication .form-group .form-control{max-width: 100%;}
}

@media (max-width:320px){
    .signup-account{padding-left: 0px;}
}

#banner_login { width: 100%; }
.banner-container { position: absolute; margin: 0 -15%; }
.sign-account { padding-top: 45%; }
.info-box { background-color: #fff; padding: 15px; max-height: initial; border: none; }
.info-box {
    -webkit-box-shadow: 7px 7px 15px -3PX #D3D3D3;
    -moz-box-shadow: 7px 7px 15px -3PX #D3D3D3;
    box-shadow: 7px 7px 15px -3PX #D3D3D3;
}
.info-box form { background-color: #efefef; margin: 0; }
#login_form { min-height: 495px; }
.line-separator { border: 1px solid #EF4136; width: 60px; }
.borde-inf { padding-bottom: 3px; }
.container_tips { margin: 35px 0; }
.container_tips div { text-align: center; background-color: white; margin-bottom: 40px; }
.container_tips div h3 { letter-spacing: 0; margin: 0; font-size: 18px; }
.icon_tip { width: 75px; }
#learn_more { position: absolute; top: 30%; right: 41%; color: white; font-size: 35px!important; }
#icon_play { position: absolute; top: 44%; right: 48%; width: 4vw; }
@media (min-width: 768px) {
    .container_tips .col-sm-3 { width: 25%!important; }
}
@media (max-width: 425px){
    #learn_more { position: absolute; top: 20%; right: 36%; color: white; font-size: 5vw!important; }
    #icon_play { position: absolute; top: 50%; right: 48%; width: 10vw; }
}
@media screen and (max-width: 768px) and (min-width: 426px) {
    #learn_more { position: absolute; top: 30%; right: 36%; color: white; font-size: 35px!important; }
    #icon_play { position: absolute; top: 50%; right: 48%; width: 6vw; }
}

/*BOTON EMPRESAS*/

.button-medium-business{border: 0;
    background: #ef4136;
    color: #fff !important;
    text-transform: uppercase;
    padding: 11px 15px;
    font-family: Montserrat;
}

.button-medium-business a{color:#fff;}
.button-medium-business:hover{background: #c9b197; color: #fff;}
.button-medium-business a:hover{color:#fff;}

#social_login_frame>.footer { display: none!important; }