@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);

.title-business{text-align: left;font-family: 'Open Sans'; font-weight: bold; font-size: 22px;}
#delete_employee:disabled { background: #ef4136; cursor: pointer; }
.div-btn-delete { text-align: center; }
.div-btn-delete-info { color: #EF4136; font-size: 10px; font-style: italic; }
.pagination-header { margin-top: 15px; margin-bottom: 25px; }
.panel-employee{margin-top: 40px;margin-bottom: 15px;padding: 10px;border-bottom: 1px solid;padding-left: 0;}
.item-employee{padding: 0px; cursor: pointer; margin: 0 18px;}
#busqueda { height: 32px!important; }
.btn-default{background: transparent; border: none; padding: 0px; color: #777777;}
.btn-default .caret { border-top-color: #777777; }
.btn-default:hover, .btn-default:active, .btn-default:focus { color: #ef4136!important; background-color: transparent!important; border-color: transparent!important; box-shadow: none!important; -webkit-box-shadow: none!important; }
.back-business{background: #fff !important; color: #000; border: none;}
.open > .back-business{margin-top: 11px !important;}
#item-menu-principal{padding: 15px !important; color: #000;}
#item-menu-principal:hover{background: transparent !important; color:#c9b198;}
#item-menu-add{padding: 15px !important; color: #000;}
#item-menu-add:hover{background: transparent !important; color:#c9b198;}
#item-menu-upload{padding: 15px !important; color: #000;}
#item-menu-upload:hover{background: transparent !important; color:#c9b198;}
.bar-info-users{margin-top: 10px;padding: 20px;background: #414141;}
.item-users{padding: 0; color:#c9b198; text-align: center; font-weight: bold;}
.pag-style{padding: 0;}
.btn-save-user{padding: 0; text-align: right;}
.div-btn{padding: 0px;}
.btn-save-table{padding: 7px 35px;color: white;font-weight: bold;background: #c9b198; border: none;}
.btn-save-table:hover{padding: 7px 35px;color: white;font-weight: bold;background: #ef4136;border: none;}
.btn-delete-employee{width: 100%; padding: 7px 15px; color: white; font-weight: bold; background: #ef4136; border: none;}
.btn-delete-employee:hover{ background: #c9b198; color: white; }
.div-toggle{padding: 0px;}
.content-item-users{padding: 0; text-align: center; font-weight: bold; font-size: 12px;}
.content-info-users{padding: 15px; border-bottom: 1px solid #e5e5e5;}
div.checker{margin-top: 5px !important; margin-right: 0px;}
.container-info-users{padding: 0px;}
.title-row-business{margin-top: 40px;}
.custom-file-upload{padding-left: 0px; padding-right: 0px;}
/* PANEL ADD AN EMPLOYEE */
.row-form-employee{padding: 0px;}
.form-employee{padding: 3px 5px;height: 27px;-webkit-box-shadow: none;box-shadow: none;
    font-size: 13px;
    line-height: 1.42857;
    color: #9c9b9b;
    vertical-align: middle;
    background-color: white;
    border: 1px solid #d6d4d4;}
.l-form-employee{padding: 0px;}
div.uploader span.action{background: #c9b198 !important;}
.btn-save-employee{padding: 10px 15px;color: white;font-weight: bold;background: #c9b198;}
.btn-save-employee:hover{padding: 10px 15px;color: white;font-weight: bold;background: #ef4136;}

/* PANEL UPLOAD EMPLOYEES */
.row-upload{padding: 0px; margin-bottom: 10px; margin-top: 10px;}
.title-browser{padding-left: 0px;text-align: left;}
.browse-div{padding-left: 0px;}
.div-btn-submit{padding: 0px; margin-top: 10px;}
.btn-save-submit{padding: 10px 50px;color: white;font-weight: bold;background: #c9b198;}
.btn-save-submit:hover{padding: 10px 50px;color: white;font-weight: bold;background: #ef4136;}
.title-panel-upload{color: #000 !important;font-weight: bold;font-size: 18px !important;margin-bottom: 20px !important;}
.title-panel-upload-transfer{color: #000 !important;font-weight: bold;font-size: 10px !important;margin-bottom: 0px !important;}
.copy-form-csv{margin-top: 40px;}
.row-container-info{padding: 0px;max-height: 500px;overflow: auto;}
#select-distribute{cursor: pointer;background: none;font-family: 'Open Sans';padding: 5px;border: 2px solid #000;font-weight: bold;}
.disabledbutton {pointer-events: none;opacity: 0.5;}
#use_allfluz{text-align: center !important;padding: 6px;}
#ptosTotal{margin-top: 5px;text-align: left;color: #ef4136;padding-left: 0px; display: none;}
#ptosused{margin-top: 5px;text-align: left;color: #ef4136;padding-left: 0px;padding-right: 0px;}
.available-point{color: #ef4136; font-weight: bold; font-size: 14px;}
.title-fluz{color: #000;}
.amount_unit{text-align: right; padding-right: 0px; border: none;color: #000;font-weight: bold;}
.text_fluz{padding-left: 0px; padding-right: 0px; text-align: center;padding-top: 1px;color: #000;font-weight: bold;}
.edit-btn{padding: 0px;cursor:pointer;padding-top: 2px;background: transparent;border: none;color: #c9b198; font-weight: bold;}
.amount_edit{background: transparent;border: 1px solid #aaa;text-align: center;padding-right: 0;padding-left: 0;}
.bar-info-users-upload{margin-top: 15px;padding: 20px;background: #F2F2F2;}
#status{display: none;}
#holder {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
    max-height: 400px;
    overflow-y: auto;
}
.link-down{color: #ef4136;}
.item-employee:hover{color: #ef4136;}
.item-employee > a:hover{color: #ef4136;}

/* CSS Historial */

.buttonAccordionHistory{cursor: pointer; text-align: center;    
    padding: 10px;
    color:#aaa; 
    border: 1px solid #cacaca;
    background-image: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%);
    border-bottom: none;
    color: #000;
    text-shadow: 1px 1px white;}
.clicked{background: #ef4136; color: #fff !important;text-shadow: none;font-weight: bold;}
.container_history{padding: 10px;}
.active_btn{color: #ef4136;}

/* POPUP CONFIRMACION */

.title_transfer{text-align: center; font-size: 16px; font-weight: bold; color: #ef4136;}
.t-name{color:#EF4136; font-size: 14px;text-align: right;font-weight: bold;}
.info-transfer{margin-top: 30px;line-height: 30px;}
.name_sponsor{color: #000;font-weight: bold;font-size: 14px;padding-left: 15px;}
.btn_modal_f{cursor:pointer;font-size: 15px;color: #fff; font-family: 'Capitalized';font-weight: bold;}
.row-btn-modal{ margin-top: 30px;margin-bottom: 30px;}
.img-responsive{margin: 0 auto;}
.btn-cancel-modal{text-align: left;}
.btn-confirm-modal{text-align: right;}
.btn-account {padding: 6px 12px;font-size: 12px;font-family: 'Montserrat';font-weight: lighter;letter-spacing: 1px;color: #fff;border: none;background: #ef4136;}
#quantity-users{padding-left: 0px;margin-top: 10px;color:#000;}
.img-business{ border-radius: 10%; max-height: 100px; width: 180px; margin-bottom: 5px;}
.text-business{color: #000; font-size: 16px;text-transform: uppercase;font-weight: bold;}
.div-img{text-align: right;}
.margin-info{margin-top: 20px;}
#user_delete{color: #ef4136;font-weight: bold;font-size: 14px;text-align: center;}

/* ERRORES */

#error{background: #D27C82; padding: 5px; 
    margin-top: 4px;
    color: #fff;
    font-weight: bold;
    border-left: solid 3px #eab3b7;}

#success{background: #72C279; padding: 5px; 
    margin-top: 4px;
    color: #fff;
    font-weight: bold;
    border-left: solid 3px #92d097;}

.name_sponsor_delete{color: #000;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    }
    
/*PAGINA ERRORES*/
.title-error{color: #000; margin-top: 35px; font-size: 36px; font-weight: bold; 
            font-family: 'Open Sans'; margin-bottom: 10px;}
.border-report{border-bottom: 1px solid #e5e5e5;}    
.download-error{margin-top: 60px; text-align: right;}
#error_page{padding-left: 0px;}
.container-error{background: #f4f4f4;padding: 25px;
    overflow-y: auto;
    max-height: 400px;}

/* Botones error */
.div-btn-error{text-align: center; margin-top: 30px; margin-bottom: 30px;}
.form-confirm-business{
    text-align: center;
    min-height: 500px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 0px;
    background: #f7f7fb;
    border: 1px solid #d6d4d4;
}

.btn-back-business{
    background: transparent;
    text-transform: uppercase;
    border: 1px solid #000;
    padding: 10px 15px;
    font-size: 11px;
}

.texto-confirm-business{
    font-family: 'Open Sans';
    color: #000;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*PRELOADER FILE CUSTOMER*/
.text-loader{text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;}
.progress-container {
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.progress {
        margin-top: 20px;
	background-color: rgb(229,233,235);
	height: 0.25em;
	position: relative;
	width: 36em;
}
.progress-bar {
	background-size: 66em 0.25em;
	height: 100%;
	position: relative;
	background-image: linear-gradient(to right, rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54));
		background-image: -o-linear-gradient(to right, rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54));
		background-image: -ms-linear-gradient(to right, rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54));
		background-image: -webkit-linear-gradient(to right, rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54));
		background-image: -moz-linear-gradient(to right, rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54), rgb(239,67,54));
	animation: cssload-width 6.15s cubic-bezier(0.45, 0, 1, 1) infinite;
		-o-animation: cssload-width 6.15s cubic-bezier(0.45, 0, 1, 1) infinite;
		-ms-animation: cssload-width 6.15s cubic-bezier(0.45, 0, 1, 1) infinite;
		-webkit-animation: cssload-width 6.15s cubic-bezier(0.45, 0, 1, 1) infinite;
		-moz-animation: cssload-width 6.15s cubic-bezier(0.45, 0, 1, 1) infinite;
}
.progress-shadow {
	height: 11em;
	position: absolute;
	top: 100%;
	width: 100%;
	transform: skew(45deg);
		-o-transform: skew(45deg);
		-ms-transform: skew(45deg);
		-webkit-transform: skew(45deg);
		-moz-transform: skew(45deg);
	transform-origin: 0 0;
		-o-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
	background-image: linear-gradient(to bottom, rgb(234,236,238), transparent);
		background-image: -o-linear-gradient(to bottom, rgb(234,236,238), transparent);
		background-image: -ms-linear-gradient(to bottom, rgb(234,236,238), transparent);
		background-image: -webkit-linear-gradient(to bottom, rgb(234,236,238), transparent);
		background-image: -moz-linear-gradient(to bottom, rgb(234,236,238), transparent);
}

.block-information-csv { color: #F15E55; font-style: italic; text-align: center; cursor: pointer; }
.block-information-csv > #title-info > #text-info { font-size: 14px; }
.block-information-csv > #title-info > #icon-info { font-style: normal; border: 1px solid red; border-radius: 50%; padding: 0 10px; font-size: 16px; font-weight: bold; }
.block-information-csv > #list-info { color: #777777; margin-left: 17px; display: none; }
.block-information-csv:hover > #list-info { display: block; animation: fadeIn 1s; -webkit-animation: fadeIn 1s; }
.block-information-csv:hover > #title-info { font-weight: bold; }

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes cssload-width {
	0%, 100% {
		transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@-o-keyframes cssload-width {
	0%, 100% {
		-o-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@-ms-keyframes cssload-width {
	0%, 100% {
		-ms-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@-webkit-keyframes cssload-width {
	0%, 100% {
		-webkit-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@-moz-keyframes cssload-width {
	0%, 100% {
		-moz-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
