
.container .c{
    margin-left: 2%;
}
.card{display:inline-block; width: 48%; height: auto; background-color: #fff; font-color:#ef4136; padding: 4px; margin-left: 5px; margin-right:5px; border: 1px solid #E8E8E8;}
.card img{width: auto; height: 40px; background: transparent;}
.card:hover{background: #fff; cursor: pointer;}
.card a{line-height: 50px; float:right; color: #ef4136;}
.infoPopUp{text-align: center;}
.oculto{display:none;}


.checkCard>div>label{
    font-family: 'Open Sans' !important;
    color:#ef4136 !important;
    font-size:10px;
    width: 79%;
    margin-left: 2.5%;
}

.pViewcard{
    width: 80%; 
    text-align: justify;
    color:#808285;
    margin:0 auto;
    font-family: 'Open Sans' !important;
    margin-top: 5%;
    margin-bottom: 5%;
}

.c{
    line-height: 10px !important;
}

.fancybox-skin{
    margin:0 auto !important;
}

.containerCard{
  display: inline;
  padding: 3%;
}

.containerCard ul{
  list-style: none;
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;
  margin-bottom: 2.5%;
}


ul li{
  color: #AAAAAA !important;
  display: inline !important;
  width: 40% !important;
  height: auto !important;
  /*margin-right: 10px;*/
}

ul li input[type=radio]{
  position: absolute !important;
  visibility: hidden !important;
  display: none;
}

ul li label{
  display: inline !important;
  font-size: 12px !important;
  cursor: pointer !important;
  -webkit-transition: all 0.25s linear !important;
  color:#E79791 !important;
}

ul li:hover label{
	color: #ef4136 !important;
}

ul li .check{
  display: inline-flex;
  border: 2px solid #DDDDDD;
  border-radius: 100% !important;
  height: 35px !important;
  width: 35px !important;
	transition: border .25s linear !important;
	-webkit-transition: border .25s linear !important;
}

ul li:hover .check {
  border: 2px solid #d6d4d4 !important;
}

ul li .check::before {
  display: inline-block !important;
  border-radius: 100% !important;
  height: 15px !important;
  width: 15px!important;
  margin: auto !important;
	transition: background 0.25s linear !important;
	-webkit-transition: background 0.25s linear !important;
}

.checkConfirm{
    display: inline-flex;
    border: 2px solid #DDD !important;
    border-radius: 100% !important;
    height: 35px !important;
    width: 35px !important;
    background-color: #ef4136;
    transition: border .25s linear !important;
    -webkit-transition: border .25s linear !important;
}

.labelcard{
    color: #ef4136 !important;
}

.popText{
    background: #fff;
    margin-left: -50px !important;
    position: absolute;
    margin-top: -33px;
    font-size: 16px;
}

#desc_oculto{
    display:none;
}

.codigoCard{
    text-align: right;
    font-family: 'Open Sans';
    font-weight: lighter;    
    margin-top: 10px;
    float: right;
    font-size:12px;
}

.fancybox-opened .fancybox-skin { width: auto!important; }
.fancybox-inner { width: auto!important; }
.fancybox-outer { width: auto; }
.cardDesign { width: 100%; margin: 0; display: inline-block; margin-bottom: 30px; }
.containerCard { padding: 0; }
.containerCard ul { width: 50%; margin: 0; display: inline-block; margin-left: 2% !important; margin-bottom: 3% !important;}
.containerCard ul li:first-child { margin-right: 10%; }
.containerCard ul li div { vertical-align: middle; }
.containerCard ul li label { vertical-align: middle; }
.CardInstru { width: 43%; display: inline-block; margin-top: 0px; margin-left: 30px; }
.cardDesign .tCardView { margin-bottom: 3%; }
.cardDesign .tCardView #nameViewCard { font-size: 20px; text-transform: uppercase; vertical-align: middle; }
.cardDesign .tCardView #img-prod { width: 15%; vertical-align: middle; }
.pointPrice { display: inline-block; width: 100%; padding: 0 10%; }
.micode { font-family: 'Open Sans' !important; }

@media (max-width:1440px){
    
}

@media (max-width:100px){
    .fancybox-opened .fancybox-skin { width: 50%!important; }
}

@media (max-width:1024px){
    .fancybox-opened .fancybox-skin { width: 70%!important; }
}

@media (max-width:768px){
    .menuSticky{background: #fff; border-bottom: none;}
    .fancybox-opened .fancybox-skin { width: 70%!important; }
}

@media (max-width:500px){
    .fancybox-opened .fancybox-skin { width: 100%!important; }
}

.card-view{
    background: #f4f4f4 !important;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 0px;
    margin-bottom: 3%;
    padding: 0;
}
.title-card{
    color: #000 !important;
    background: #fff;
    margin-top: 80px;
}
#nameViewCard {
    color: #000 !important;
    font-family: 'Open Sans' !important;
}

.pPrice {
    text-align: justify !important;
    color: #777 !important;
    font-family: 'Open Sans' !important;
    float: right;
    font-size: 15px;
    line-height: 20px;
}

.pCode {
    text-align: justify !important;
    font-family: 'Open Sans' !important;
    color: #777 !important;
    font-size: 14px;
    line-height: 18px;
}

#bar-code{
    margin-top: 10% !important;
}

.micode{
    margin-left: 1%;
}

.pointPrice{
    padding: 20px 0px 0px 10px !important;
}

.insTitle{
    background: #ef4136 !important;
    color: #fff !important;
}

.pagination{
    width: 54%;
    margin: 0 auto;
    margin-left: 0%;
    margin-bottom: 1%;
}

.pagination > li:first-child > span{
    background: #ef4136 !important;
}

.pagination > li:last-child > a{
    background: #ef4136 !important;
}

.CardInstru h4:after { display: block; content: "\f055"; font-family: "FontAwesome"; position: absolute; right: 0; top: 1px; }
.CardInstru h4.active:after { content: "\f056"; }