
.card{
    height: 47px;
    background-color: #fff;
    margin-bottom: 7px;
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #E8E8E8;
}
.card:hover{background: #fff; cursor: pointer;}
.card a{line-height: 50px; float:right; color: #ef4136;}
.infoPopUp{text-align: center;}
.oculto{display:none;}
#not-shown{border:solid blue 1px;}

.checkCard>div>label{
    font-family: 'Open Sans' !important;
    color:#ef4136 !important;
    font-size:10px;
    width: 79%;
    margin-left: 2.5%;
}

.pViewcard{
    width: 95%; 
    text-align: justify;
    color:#808285;
    margin:0 auto;
    font-family: 'Open Sans' !important;
    margin-top: 7px;
    margin-bottom: 7px;
}

#terms_oculto{
    display: none;
}

.terms-card{
    width: 95%;
    text-align: justify;
    color: #808285;
    margin: 0 auto;
    font-family: 'Open Sans' !important;
    margin-top: 7px;
    margin-bottom: 7px;
}

.terms-card>p{
    line-height: 18px !important;
    font-size: 12px !important;
}

.c{
    line-height: 10px !important;
    max-height: 179px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 15px;
    padding: 0px;
    margin-top: 60px;
}

.back-cardView{
    background: #fff;
}

.fancybox-skin{
    margin:0 auto !important;
    max-width: 770px;
}

.containerCard{
  display: inline-block;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
}


ul li{
  color: #AAAAAA !important;
  display: inline !important;
  width: 40% !important;
  height: auto !important;
  /*margin-right: 10px;*/
}

ul li input[type=radio]{
  position: absolute !important;
  visibility: hidden !important;
  display: none;
}

ul li label{
  display: inline !important;
  font-size: 12px !important;
  cursor: pointer !important;
  -webkit-transition: all 0.25s linear !important;
  color:#E79791 !important;
}

ul li:hover label{
	color: #ef4136 !important;
}

ul li .check{
  display: inline-flex;
  border: 2px solid #DDDDDD;
  border-radius: 100% !important;
  height: 35px !important;
  width: 35px !important;
	transition: border .25s linear !important;
	-webkit-transition: border .25s linear !important;
}

ul li:hover .check {
  border: 2px solid #d6d4d4 !important;
}

ul li .check::before {
  display: inline-block !important;
  border-radius: 100% !important;
  height: 15px !important;
  width: 15px!important;
  margin: auto !important;
	transition: background 0.25s linear !important;
	-webkit-transition: background 0.25s linear !important;
}

.checkConfirm{
    display: inline-flex;
    border: 2px solid #DDD !important;
    border-radius: 100% !important;
    height: 35px !important;
    width: 35px !important;
    background-color: #ef4136;
    transition: border .25s linear !important;
    -webkit-transition: border .25s linear !important;
}

.labelcard{
    color: #ef4136 !important;
}

.popText{
    background: #fff;
}

#desc_oculto{
    display:none;
}

.codigoCard{
    font-family: 'Open Sans';
    margin-top: 1px;
    line-height: 16px;
    font-size: 11px;
}

.fancybox-inner { width: auto!important; }
.fancybox-outer { width: auto; }
.cardDesign { width: 100%; margin: 0; display: inline-block; margin-bottom: 30px; }
.containerCard { padding: 0; }
.containerCard ul { margin: 0; }
.containerCard ul li:first-child { margin-right: 10%; }
.containerCard ul li div { vertical-align: middle; }
.containerCard ul li label { vertical-align: middle; }
.CardInstru { width: 100%; display: inline-block; margin-top: 0px;}
.cardDesign .tCardView { margin-bottom: 3%; }
.cardDesign .tCardView #nameViewCard { font-size: 20px; text-transform: uppercase; vertical-align: middle; }
.cardDesign .tCardView #img-prod { width: 15%; vertical-align: middle; }



@media (max-width:1440px){
    
}

@media (max-width:100px){
    //.fancybox-opened .fancybox-skin { width: 50%!important; }
}

@media (max-width:1024px){
    //.fancybox-opened .fancybox-skin { width: 70%!important; }
}

@media (max-width:768px){
    .menuSticky{background: #fff; border-bottom: none;}
    //.fancybox-opened .fancybox-skin { width: 70%!important; }
}

@media (max-width:500px){
    //.fancybox-opened .fancybox-skin { width: 100%!important; }
}

.card-view{
    background: #f4f4f4 !important;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 12px;
    padding: 0;
}
.title-card{
    color: #000 !important;
    background: #fff;
    text-align: left;
    padding-left: 15px;
}
#nameViewCard {
    color: #000;
}



.pDate{
    font-size: 12px;
    margin-top: 11px;
}

.pValuePrice{
    font-size: 12px;
    margin-top: 11px;
    padding-left: 11px;
}

.date_purchased{
    color:#EF4136;
}

.pCode {
    font-family: 'Open Sans' !important;
    color: #777 !important;
    text-align: center;
}
.micode { font-family: 'Open Sans' !important; text-align: center; width: 100%; font-size: 18px; color: #ef4136;}
#priceCard{color: #ef4136; font-size: 18px; text-align: center;}
.pPrice {
    margin-top: 5px;
    color: #777 !important;
    font-family: 'Open Sans' !important;
    text-align: center;
}

#bar-code{
    margin-bottom: 20px;
    padding: 2% 4%;
    background: #fff;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.pointPrice{
    padding-top: 10px;
}

.insTitle{
    background: #ef4136 !important;
    color: #fff !important;
}

.pagination{
    width: 54%;
    margin: 0 auto;
    margin-left: 0%;
    margin-bottom: 1%;
    display:none;
}

.pagination > li:first-child > span{
    background: #ef4136 !important;
}

.pagination > li:last-child > a{
    background: #ef4136 !important;
}

.CardInstru h4:after { display: block; content: "\f055"; font-family: "FontAwesome"; position: absolute; right: 0; top: 1px; }
.CardInstru h4.active:after { content: "\f056"; }

.v:hover{cursor: pointer;}
.a:hover{cursor: pointer;}
.r:hover{cursor: pointer;}

.pCode-contenedor{
    vertical-align: middle;
    display: table;
    width: 100%;
    border:solid red 1px;
}
