
.container .c{
    margin-left: 2%;
    min-height: 700px;
}
.card{display:inline-block; width: 40%; height: auto; background-color: #f4f4f4; font-color:#ef4136; padding: 1%; margin-left: 5px; margin-right:5px;-webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75); -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.75); box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.75);}
.card img{width: auto; height: 40px;}
.card:hover{background: #fff; cursor: pointer;}
.card a{line-height: 50px; float:right; color: #ef4136;}
.infoPopUp{text-align: center;}
.oculto{display:none;}


.checkCard>div>label{
    font-family: 'Open Sans' !important;
    color:#ef4136 !important;
    font-size:10px;
    width: 79%;
    margin-left: 2.5%;
}

.pViewcard{
    width: 80%; 
    text-align: justify;
    color:#808285;
    margin:0 auto;
    font-family: 'Open Sans' !important;
    margin-top: 5%;
    margin-bottom: 5%;
}

.fancybox-skin{
    margin:0 auto !important;
}

.containerCard{
  display: inline;
  padding: 3%;
}

.containerCard ul{
  list-style: none;
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;
  margin-bottom: 2.5%;
}


ul li{
  color: #AAAAAA !important;
  display: inline !important;
  width: 40% !important;
  height: auto !important;
  margin-right: 10px;
}

ul li input[type=radio]{
  position: absolute !important;
  visibility: hidden !important;
  display: none;
}

ul li label{
  display: inline !important;
  font-size: 12px !important;
  cursor: pointer !important;
  -webkit-transition: all 0.25s linear !important;
  color:#E79791 !important;
}

ul li:hover label{
	color: #ef4136 !important;
}

ul li .check{
  display: inline-flex;
  border: 2px solid #DDDDDD;
  border-radius: 100% !important;
  height: 35px !important;
  width: 35px !important;
	transition: border .25s linear !important;
	-webkit-transition: border .25s linear !important;
}

ul li:hover .check {
  border: 2px solid #d6d4d4 !important;
}

ul li .check::before {
  display: inline-block !important;
  border-radius: 100% !important;
  height: 15px !important;
  width: 15px!important;
  margin: auto !important;
	transition: background 0.25s linear !important;
	-webkit-transition: background 0.25s linear !important;
}

.checkConfirm{
    display: inline-flex;
    border: 2px solid #DDD !important;
    border-radius: 100% !important;
    height: 35px !important;
    width: 35px !important;
    background-color: #AAAAAA;
    transition: border .25s linear !important;
    -webkit-transition: border .25s linear !important;
}

.labelcard{
    color: #ef4136 !important;
}

.popText{
    background: #fff;
    margin-left: -50px;
    position: absolute;
    margin-top: -33px;
    font-size: 16px;
}

#desc_oculto{
    display:none;
}