.card{
    height: 47px;
    background-color: #fff;
    margin-bottom: 7px;
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #E8E8E8;
}
.card:hover{background: #fff; cursor: pointer;}
.card a{line-height: 50px; float:right; color: #ef4136;}
.infoPopUp{text-align: center;}
.oculto{display:none;}
#not-shown{border:solid blue 1px;}

.checkCard>div>label{
    font-family: 'Open Sans' !important;
    color:#ef4136 !important;
    font-size:10px;
    width: 79%;
    margin-left: 2.5%;
}

.pViewcard{
    width: 95%; 
    text-align: justify;
    color:#808285;
    margin:0 auto;
    font-family: 'Open Sans' !important;
    margin-top: 7px;
    margin-bottom: 7px;
}

#terms_oculto{
    display: none;
}

.terms-card{
    width: 95%;
    text-align: justify;
    color: #808285;
    margin: 0 auto;
    font-family: 'Open Sans' !important;
    margin-top: 7px;
    margin-bottom: 7px;
}

.terms-card>p{
    line-height: 18px !important;
    font-size: 12px !important;
}

.c{
    line-height: 10px !important;
    max-height: 282px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 15px;
    padding: 0px;
    padding-top: 12px;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.back-cardView{
    background: #fff;
}

.fancybox-skin{
    margin:0 auto !important;
    max-width: 850px;
}

.containerCard{
  display: inline-block;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
}


ul li{
  color: #AAAAAA !important;
  display: inline !important;
  width: 40% !important;
  height: auto !important;
  /*margin-right: 10px;*/
}

ul li input[type=radio]{
  position: absolute !important;
  visibility: hidden !important;
  display: none;
}

ul li label{
  display: inline !important;
  font-size: 12px !important;
  cursor: pointer !important;
  -webkit-transition: all 0.25s linear !important;
  color:#E79791 !important;
}

ul li:hover label{
	color: #ef4136 !important;
}

ul li .check{
  display: inline-flex;
  border: 2px solid #DDDDDD;
  border-radius: 100% !important;
  height: 35px !important;
  width: 35px !important;
	transition: border .25s linear !important;
	-webkit-transition: border .25s linear !important;
}

ul li:hover .check {
  border: 2px solid #d6d4d4 !important;
}

ul li .check::before {
  display: inline-block !important;
  border-radius: 100% !important;
  height: 15px !important;
  width: 15px!important;
  margin: auto !important;
	transition: background 0.25s linear !important;
	-webkit-transition: background 0.25s linear !important;
}

.checkConfirm{
    display: inline-flex;
    border: 2px solid #DDD !important;
    border-radius: 100% !important;
    height: 35px !important;
    width: 35px !important;
    background-color: #ef4136;
    transition: border .25s linear !important;
    -webkit-transition: border .25s linear !important;
}

.labelcard{
    color: #ef4136 !important;
}

.popText{
    background: #fff;
}

#desc_oculto{
    display:none;
}

.codigoCard{
    font-family: 'Open Sans';
    line-height: 15px;
    text-align: center;
    font-size: 11px;
}

.codigoCard2{
    font-family: 'Open Sans';
    line-height: 35px;
    text-align: right;
    font-size: 12px;
}

.price-cardview{   
    color: #ef4136;
    font-size: 14px !important;
    text-align: center;
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 10px;
}

#priceCard_used2{
    color: #ef4136;
    font-size: 14px;
    text-align: center;
}

.fancybox-inner { width: auto!important; }
.fancybox-outer { width: auto; }
.cardDesign { width: 100%; margin: 0; display: inline-block; margin-bottom: 30px; }
.containerCard { padding: 0; }
.containerCard ul { margin: 0; }
.containerCard ul li:first-child { margin-right: 10%; }
.containerCard ul li div { vertical-align: middle; }
.containerCard ul li label { vertical-align: middle; }
.CardInstru { width: 100%; display: inline-block; margin-top: 0px;}
.cardDesign .tCardView { margin-bottom: 3%; }
.cardDesign .tCardView #nameViewCard { font-size: 20px; text-transform: uppercase; vertical-align: middle; }
.cardDesign .tCardView #img-prod { width: 15%; vertical-align: middle; }

.card-view{
    background: #f4f4f4 !important;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 12px;
    padding: 0;
    padding-bottom: 15px;
    margin-left: 50px !important;
}
.title-card{
    color: #000 !important;
    background: #fff;
    text-align: left;
    padding-left: 15px;
    margin-top: 0px;
}
#nameViewCard {
    color: #000;
    margin-left: 0px;
}

.pDate{
    font-size: 12px;
    margin-top: 11px;
}

.pValuePrice{
    font-size: 12px;
    margin-top: 11px;
    padding-left: 11px;
}

.date_purchased{
    color:#EF4136;
}

.pCode {
    font-family: 'Open Sans' !important;
    color: #777 !important;
    text-align: center;
    margin-top: 10px;
}
.micode { font-family: 'Open Sans' !important; text-align: center; width: 100%; font-size: 18px; color: #ef4136; margin-bottom: 20px;}
#priceCard{color: #ef4136; font-size: 18px; text-align: center; margin-top: 10px;}
.pPrice {
    color: #777 !important;
    font-family: 'Open Sans' !important;
    text-align: left;
    margin-top: 10px;
}

#bar-code{
    margin-bottom: 0;
    padding: 2% 4%;
    background: #fff;
    width: auto;
    height: auto;
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 20px;
}

.price_value_content {
    color: #ef4136;
    font-size: 16px;
}

.cardview-ins{margin-top: 21px;margin-left: 39px;padding-left: 0px;padding-right: 0px;}

.pointPrice{
    padding-top: 10px;
}

.insTitle{
    background: #ef4136 !important;
    color: #fff !important;
}

.pagination{
    width: 54%;
    margin: 0 auto;
    margin-left: 0%;
    margin-bottom: 1%;
    display:none;
}

.pagination > li:first-child > span{
    background: #ef4136 !important;
}

.pagination > li:last-child > a{
    background: #ef4136 !important;
}

.CardInstru h4:after { display: block; content: "\f055"; font-family: "FontAwesome"; position: absolute; right: 0; top: 1px; }
.CardInstru h4.active:after { content: "\f056"; }

.v:hover{cursor: pointer;}
.a:hover{cursor: pointer;}
.r:hover{cursor: pointer;}

.pCode-contenedor{
    vertical-align: middle;
    display: table;
    width: 100%;
    border:solid red 1px;
}

.popText { margin-left: 6%; }
.title-card { padding: 2px 26px; }
.card-view { margin: 20px 0 0 30px; }
.c { margin-top: 0px!important; }
.cardview-ins { margin-left: 25px; }
.title-card div { display: inline-block; vertical-align: middle; }
.CardInstru h4::after { display: none!important; }
#columns { width: 100%; height: 35vw; }
#text-fabri { width: 60% }
#categories_block_left, #left_column { display: none; }
.terms-card, .pViewcard { overflow-y: auto; height: 150px!important; }


@media (max-width:1024px){
    .container-barcode { margin-right: 0!important; margin-left: 35%!important; float: none!important; }
    .codigoCard2 { text-align: left; line-height: 17px; }
}

@media (max-width:768px){
    .menuSticky{background: #fff; border-bottom: none; display: none;}
    #bar-code{margin-bottom: 0px;margin-top: 10px;margin-left: 220px;}
    .codigoCard{margin-top: 4px;}
    .instrucciones-pop{padding-left: 0px; padding-right: 0px;}
    .c{padding-top: 0px; margin-top: 20px; max-height: 255px;}
    .update-card{margin-top: 20px;}
    .card-view { margin-left: 0!important; }
    .cardview-ins { margin-left: 0%; width: 76% }
    .popText { margin-left: 270px!important; }
    .container-barcode { float: right!important; }
    .fancybox-skin { height: auto!important; margin: 0 auto !important; max-width: 500px; }
    .codigoCard2 { line-height: 37px; }
}

@media (max-width:425px){
    .c{ max-height: 252px;}
    #priceCard{font-size: 16px !important;}
    #nameViewCard{font-size: 12px;}
    .update-card{margin-left: 17px;}
    .pValuePrice {font-size: 10px;}
    .price_value_content {color: #ef4136; font-size: 12px;}
    .pDate {font-size: 10px;}
    .pCode{margin-top: 10px;}
    .micode{margin-bottom: 10px;}
    .card-view { margin-left: 0!important; width: 100%!important; }
    .cardview-ins { margin-left: 0!important; width: 94%!important; margin-bottom: 10px; }
    .popText { margin-left: 33%!important; }
    .codigoCard2 { line-height: 19px; }
    #text-fabri { width: 50%!important; }
    #bar-code { margin-left: 23%!important; margin-bottom: 0px; margin-top: 15px; }
    .fancybox-skin { height: auto!important;}
}

@media (max-width:375px){
    .c {margin-left: 15px;margin-right: 15px;}
    #priceCard{font-size: 16px !important;}
    #nameViewCard{font-size: 9px;}
    .card-view { margin-left: 0!important; width: 80%!important; }
    .cardview-ins {margin-left: 15px; margin-bottom: 10px; width: 81%;}
}

@media (max-width:320px){
    #priceCard{font-size: 14px !important;}
    #nameViewCard{font-size: 9px;}
    .micode{font-size: 14px !important;}
    .title-card>img{width: 50%;}
    .back-cardView{padding-right: 0px;padding-left: 0px;}
    .pCode{margin-bottom: 0px;}
    .c {margin-left: 0px;margin-right: 8px;}
    .card-view { width: 94%!important; margin-left: 0!important; }
    .cardview-ins {margin-left: 8px; margin-bottom: 10px; width: 67%;}
    .popText { margin-left: 33%!important; }
    #img-fabri { width: 45%!important; }
    #img-prod { width: 100%!important; }
    #img-prod { width: 100%!important; }
    #bar-code { width: 50% !important; margin-right: 0px !important; margin-left: 67px !important; margin-top: 15px !important; }
    .fancybox-skin { height: auto!important;}
}

@media (max-width:277px){
    .card-view { width: 80%!important; margin-left: 0!important; }
    .cardview-ins { width: 80%!important; }
    #bar-code { width: 50% !important; margin-right: 0px !important; margin-left: 60px !important; margin-top: 15px !important; }
}

@media (max-width:230px){
    .card-view { width: 65%!important; margin-left: 0!important; }
    .popText { margin-left: 27%!important; }
    .cardview-ins { width: 65%!important; }
    #bar-code { width: 50% !important; margin-right: 0px !important; margin-left: 46px !important; margin-top: 15px !important; }
}
