/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-oct-2016, 11:54:07
    Author     : Ingenio
*/

ul.step li.step_todo{width: 33.3%;}
.rewards div#payment fieldset{margin-left: 0px !important;}
li.step_todo > .first{background: #ef4136;}
.cheque-cashout{ padding-left: 0;padding-right: 0;text-align: left;font-size: 18px;color: #4d4d4d;border: 1px solid #e6e7e8;padding: 30px; cursor: pointer;}
.cheque-style{background: #f9f9f9 !important; border: none !important; margin-bottom: 0px !important;}
.input-cash{padding: 10px !important; border: 1px solid #e6e7e8;}
.label-cheque{padding-left: 0px; margin-bottom: 10px;}
.cheque-row{margin-bottom: 20px;}
.form-cheque{border: 1px solid #e6e7e8; border-top: none !important;}
.btn-order2{margin-bottom: 30px !important;margin-top: 30px !important;margin-right: 20px !important;
           text-align: center !important;padding: 15px !important; float: right; 
           color: #fff; background: #c9b197; cursor:pointer;}
.c-cashout{border-bottom: 1px solid #e6e7e8;}
.confirmation-cashout{ border: 1px solid #e6e7e8;border-left: none;padding: 10px;padding-right: 0px; padding-bottom: 0px;padding-top: 0px;}
.l-step3{margin-bottom: 0px;padding: 15px;font-size: 16px;}
.p-step3{padding: 15px;text-align: center;border-left: 1px solid #e6e7e8;font-size: 14px;}
.pstep3{padding: 15px;text-align: center;border-left: 1px solid #e6e7e8;color:#ef4136; background: #f7f7f7;font-size: 14px;}
.alert-validation{color: #ef4136;font-size: 18px;font-family: Monserrat;text-align: center;margin-bottom: 20px;}
.alert-validation2{color: #ef4136;font-size: 18px;font-family: Monserrat;text-align: center;margin-bottom: 0px; margin-top: 20px;}
.border-select{border:1px solid #ef4136;}
.first{background: #ef4136 !important;}
.second-cash{background: #ef4136!important; color: #fff !important;}
.span-cash{color:#fff !important;}
.first > span{color: #fff !important;}
ul.step li.step_todo span:after{display: none;}
.datos-back{padding-left: 0px !important;}
.style-bank{margin-top: 10px;}
.paid-btn{margin-top: 30px;}
.btn-cash{text-align: center;}

/*SELECT TYPE*/
.text-certified{ margin: 0px 50px;text-align: center;font-weight: bold; color:#000;}
.select_check_type{margin-top: 15px;}

/* CASHOUT BACKOFFICE */
.cash-table{padding: 19px;
    background-color: #FFF;
    border: 1px solid #e1ebf5;}

.style-label{padding: 2px;}

.input-background{
    background: #fff;
    height: 40px;
}

.proceso{
    background: #FF8C00;
    width: 20% !important;
    color: #fff;
    font-weight: bold;
    padding-left: 5px !important;}

.solicitada{
    background: #FEFF64;
    width: 20% !important;
    color: #000;
    padding-left: 5px !important;}

.pagada{
    background: #108510;
    width: 20% !important;
    color: #fff;
    font-weight: bold;
    padding-left: 5px !important;
}

.No_Procesada{
    background: #B404AE;
    width: 20% !important;
    color: #fff;
    font-weight: bold;
    padding-left: 5px !important;
}

.cancel_cash{
    background: #EF4136;
    width: 20% !important;
    color: #fff;
    font-weight: bold;
    padding-left: 5px !important;
}

#error_novalidos{    
    padding: 0;
    background: #ef4136;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 2px;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

@media (max-width:1024px){
    .full-amount{margin-left: 30px; margin-right: 30px;}
    #rangeSlider{margin-left: 5px !important;}
    #valorSlider{padding-right: 0px !important;}
    .avail-full{padding-left: 10px; padding-right: 10px;}
    .avail-price{padding-left: 0px;padding-right: 0px;}
}

@media (max-width:768px){
    .full-amount{margin-left: 55px; margin-bottom: 10px;}
    #rangeSlider{margin-left: 25px !important;}
    .cashout-money{ margin-right: 25px;}
    .cart_navigation{margin-top: 20px!important;margin-bottom: 20px !important;}
}

@media (max-width:425px){
    .cart_navigation{margin-top: 20px!important;margin-bottom: 20px !important;}
    .full-amount{margin: 0px; margin-bottom: 10px;}
    .avail-full{ line-height: 100px; margin-left: 50px;}
    ul.step li.step_todo{width: 100%;}
    .l-step3{font-size: 12px;}
}

@media (max-width:375px){
    .avail-full{ line-height: 100px; margin-left: 25px;}
    #rangeSlider{ margin-left: 10px !important;}
}

@media (max-width:320px){
    .full-amount{width: 100%; text-align: center;}
    .avail-full{ margin-left: 0px; font-size: 14px;}
    .avail-price{font-size: 14px;}
    #valorSlider{padding-left: 0px;}
    #value-cash{font-size: 14px;}
    ul.step{ width: 100%;}
    .l-step3{font-size: 10px;}
}