.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.content_scene_cat { margin: 0 0 25px 0; }
.content_scene_cat .content_scene_cat_bg { padding: 18px 10px 10px 42px; background-color: #464646 !important; }
@media (max-width: 1199px) { .content_scene_cat .content_scene_cat_bg { padding: 10px 10px 10px 15px; } }
.content_scene_cat span.category-name { font: 600 42px/51px "Open Sans", sans-serif; color: white; margin-bottom: 12px; }
@media (max-width: 1199px) { .content_scene_cat span.category-name { font-size: 25px; line-height: 30px; } }
.content_scene_cat p { margin-bottom: 0; }
.content_scene_cat a { color: white; }
.content_scene_cat a:hover { text-decoration: underline; }
.content_scene_cat .content_scene { color: #777777; }
.content_scene_cat .content_scene .cat_desc { padding-top: 20px; }
.content_scene_cat .content_scene .cat_desc a { color: #777777; }
.content_scene_cat .content_scene .cat_desc a:hover { color: #515151; }

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */
#subcategories { border-top: 1px solid #e5e5e5; padding: 15px 0 0px 0; }
#subcategories p.subcategory-heading { font-weight: bold; color: #252525; margin: 0 0 15px 0; }
#subcategories ul { margin: 0 0 0 -20px; }
#subcategories ul li { float: left; width: 145px; margin: 0 0 13px 33px; text-align: center; height: 202px; }
#subcategories ul li .subcategory-image { padding: 0 0 8px 0; }
#subcategories ul li .subcategory-image a { display: block; padding: 9px; border: 1px solid #e5e5e5; }
#subcategories ul li .subcategory-image a img { max-width: 100%; vertical-align: top; }
#subcategories ul li .subcategory-name { font: 600 18px/22px "Open Sans", sans-serif; color: #555454; text-transform: uppercase; }
#subcategories ul li .subcategory-name:hover { color: #515151; }
#subcategories ul li .cat_desc { display: none; }
#subcategories ul li:hover .subcategory-image a { border: 5px solid #333333; padding: 5px; }
.img-responsive{max-width: 100%;}
.ctgImg{width: 1440px;}
.container{max-width: 1440px;}
.block{    margin-top: 18px;}
.banner-category {margin-bottom: 0px!important;margin-top: 42px;}
.button.button-small {background: #c9b198 !important;padding: 11px 26px !important;}
.menuSticky{margin-top: 0px;}

.iOS{
  width: 42px;
  height: 23px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: inset 0 0 rgb(0, 0, 0), 0 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.switch {
  width: 140px;
  height: 28px;
  position: relative;
  border-radius: 20px;
  left: 0;
}

.outter {
  float: left;
  position: relative;
  width: 70px;
  height: 28px;
}

.lside {
  border-radius: 15px 0 0 24px;
  background: #ef4136;
  /*background-image: linear-gradient(to bottom, rgb(8, 79, 172), rgb(143, 186, 248));*/
}

.rside {
  border-radius: 0 20px 20px 0;
  background-image: linear-gradient(to bottom, rgb(163, 163, 163), white);
}

.otxt {
  position: absolute;
  top: 4px;
}

.lside .otxt {
  left: 17px;
  color: white;
}

.rside .otxt {
  right: 15px;
  color: rgb(110, 110, 110);
}

.circle {
  position: absolute;
  left: 20px;
  width: 22px;
  height: 22px;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(bottom, white, #bfc3c7);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 1px 1px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px #b6babe, 0 7px rgba(255, 255, 255, 0);
}

.containerwidth{
  width: 100%;
}

.containerwidth-column{
  width: 75%;  
}

@media (max-width: 2500px){
    .container{ max-width: 1920px;}
    form#searchbox{position: initial !important;top: 0px !important;padding-left: 740px !important;}
}

@media (max-width: 1440px){
    form#searchbox{position: initial !important; top: 0px !important;padding-left: 490px !important;}
}

@media (min-width:1025px) and (max-width:1080px){
    form#searchbox{padding-left: 350px !important;}
}

@media (max-width: 1024px){
    .owl-item { width: 216px !important; min-width: 0; margin-left: 18px !important;}
    .owl-wrapper{margin-left: 1px !important; transition:none !important; transform: none !important;}
    .prueba {left: 180px;}
    form#searchbox{position: initial !important;top: 0px !important;padding-left: 285px !important;}
}
                    
@media (max-width:768px){
    .banner-category{margin-top: 0px !important;}
    .ctgImg {margin-top: 0px;}
    .page-heading.product-listing{width: 93%;margin-left: 25px;margin-right: 30px;}
    .owl-carousel .owl-wrapper{margin-left: 0px;}
    form#searchbox{position: initial !important;top: 0px !important;padding-left: 170px !important;}
    .breadcrumb {margin-left: 0px;padding-left: 0px !IMPORTANT; margin-bottom: 20px;}
    .containerwidth-column{width: 100%;}
}

@media (max-width:425px){
    .content_sortPagiBar .sortPagiBar{float:left;}
    .owl-item {width: 385px !important;min-width: 0;margin-left: 15px !important;}
    form#searchbox{padding-left: 20px !important;}
    form#searchbox input#search_query_block{max-width: 318px !important;}
    .banner-category{margin-top: 18px !important;}
}

@media (max-width:375px){
    .owl-item{width: 350px !important;margin-left: 0px !important;}
    form#searchbox input#search_query_block {max-width: 273px !important;}
    .banner-category{margin-top: 18px !important;}
    .breadcrumb{font-size: 10px;}
}

@media (max-width:320px){
    .img-responsive{width: 100% !important;}
    .owl-item{width: 302px !important;}
    .banner-category{margin-top: 18px !important;}
    form#searchbox input#search_query_block {max-width: 216px !important;}
}