.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/**************************************************************
					CMS Pages Styles
***************************************************************/
#cms #center_column .block-cms { padding-bottom: 20px; }
#cms #center_column h1 { margin-bottom: 25px; line-height: 40px;}
#cms #center_column h3 { font-size: 16px; border-bottom: none; margin: 0; padding: 0 0 17px 0; }
#cms #center_column p { line-height: 18px; }
#cms #center_column .list-1 li { padding: 4px 0 6px 0; font-weight: bold; color: #46a74e; border-top: 1px solid #e5e5e5; }
#cms #center_column .list-1 li:first-child { border: none; }
#cms #center_column .list-1 li em { font-size: 20px; line-height: 20px; padding-right: 15px; vertical-align: -2px; }
#cms #center_column img { margin: 4px 0 17px; max-width: 100%; height: auto; }
#cms #center_column .testimonials { border: 1px solid; border-color: #dfdede #d2d0d0 #b0afaf #d2d0d0; margin: 4px 0 13px 0; position: relative; }
#cms #center_column .testimonials .inner { border: 1px solid white; padding: 19px 18px 11px 18px; background: #fbfbfb; background: -moz-linear-gradient(top, #fbfbfb 0%, #fefefe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #fefefe)); background: -webkit-linear-gradient(top, #fbfbfb 0%, #fefefe 100%); background: -o-linear-gradient(top, #fbfbfb 0%, #fefefe 100%); background: -ms-linear-gradient(top, #fbfbfb 0%, #fefefe 100%); background: linear-gradient(to bottom, #fbfbfb 0%, #fefefe 100%); }
#cms #center_column .testimonials .inner span { text-indent: -5000px; display: inline-block; width: 20px; height: 15px; }
#cms #center_column .testimonials .inner span.before { background: url(../img/bl-before-bg.png) no-repeat; margin-right: 8px; }
#cms #center_column .testimonials .inner span.after { background: url(../img/bl-after-bg.png) no-repeat; margin-left: 8px; }
#cms #center_column .testimonials:after { content: "."; display: block; text-indent: -5000px; position: absolute; bottom: -16px; left: 21px; width: 15px; height: 16px; background: url(../img/testimon-after.gif) no-repeat; }
#cms #center_column .testimonials + p { padding-left: 45px; margin-bottom: 18px; }
#cms #center_column p.bottom-indent { margin-bottom: 18px; }
#cms #center_column #admin-action-cms { background: none repeat 0 0 #F6F6F6; border: 1px solid #d2d0d0; padding: 10px; }
#cms #center_column #admin-action-cms p { margin: 0; }
#cms #center_column #admin-action-cms p span { display: block; padding-bottom: 10px; font-size: 14px; font-weight: bold; color: #252525; }
#cms #center_column #admin-action-cms p .button { font: 700 17px/21px Arial, Helvetica, sans-serif; padding: 0; border: 1px solid; padding: 10px 14px; display: inline-block; }
#cms #center_column #admin-action-cms p .button.publish_button { color: white; text-shadow: 1px 1px rgba(0, 0, 0, 0.2); border-color: #0079b6 #006fa8 #012740 #006fa8; background: #009ad0; background: -moz-linear-gradient(top, #009ad0 0%, #007ab7 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009ad0), color-stop(100%, #007ab7)); background: -webkit-linear-gradient(top, #009ad0 0%, #007ab7 100%); background: -o-linear-gradient(top, #009ad0 0%, #007ab7 100%); background: -ms-linear-gradient(top, #009ad0 0%, #007ab7 100%); background: linear-gradient(to bottom, #009ad0 0%, #007ab7 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0); }
#cms #center_column #admin-action-cms p .button.publish_button:hover { border-color: #01314e #004b74 #0079b6 #004b74; filter: none; background: #0084bf; }
#cms #center_column #admin-action-cms p .button.lnk_view { color: #252525; text-shadow: 1px 1px white; border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7; background: #f7f7f7; background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ededed)); background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%); background: -o-linear-gradient(top, #f7f7f7 0%, #ededed 100%); background: -ms-linear-gradient(top, #f7f7f7 0%, #ededed 100%); background: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0); }
#cms #center_column #admin-action-cms p .button.lnk_view:hover { border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e; filter: none; background: #e7e7e7; }
ul.product_list > li .product-container .product-contents{
    padding:0px !important;
}
header:hover,nav:hover,aside:hover,footer:hover,section:hover,article:hover{
  cursor: pointer;
}

aside{
  width:32%;
  float:right;
  height:auto;
  padding-right: 2%;
}
section{
  width:65%;
  float:left;
  height:auto;
  padding: 0px;
}

article.sectionBanner {
padding-left: 3%;
margin-right: -15px;
}

.sectionBanner>img{
  width: 100%;
}

.sectionFooter{
    text-align:center;
    padding-left: 2.1%;
    margin-right: -20px;
}
.sectionFooter>img{
  width: 49% !important;
  display: inline-flex;
}

.asideCategory>img{
  width: 100%;
  height: auto;
}

#columns{
    margin-bottom:10% !important;
}

.img-category{width:15% !important;}

@media (max-width:1024px){
    .owl-item{width: 227px !important;min-width: 0;margin-left: 18px !important;}
    .title-category{margin-top:0px !important; margin-bottom:0px !important;}
    .banner-box{background-size:100% !important;}
    .divTitleFeatured{ width: 97.3%; margin-left:9px; height: 50px;}
    .titleFeatured{height: 50px; line-height: 52px !important;font-size: 12px;}
    .title-category{font-size:40px !important;}
    .btn-shop{width:25% !important; height: 38px !important; padding-top: 10px !important;}
    .btn-shop>span{font-size:13px !important;}
    .boxprevnext2 a i{line-height: 50px;}
    .titleFeatured2{height: 50px;Line-height: 52px !important;font-size: 12px;}
    .sectionBanner{padding-left:4px !important;}
    .section-cms{padding-left:5px !important;}
    .sectionFooter{padding-left: 0;}
    .asideCategory{padding-right: 11px;}
    .menuAccountProfile{width:21% !important;}
    .owl-carousel .owl-wrapper{margin-bottom:0px !important;}
}

@media (min-width:1025px) and (max-width:1120px){
    .sectionBanner{padding-left: 10px !important;}
    .sectionFooter{padding-left: 6px !important;}
    .section-cms {padding-left:0px !important;}
    .asideCategory{padding-right:14px !important; padding-left:8px !important;}
    .owl-carousel .owl-wrapper{margin-left: 11px !important;}
    .divTitleFeatured{ width: 97.5%; margin-left:10px; height: 50px;}
    .banner-box{background-size:100% !important;}
    .title-category{margin-top:0px !important; margin-bottom:0px !important; font-size:42px !important;}
    .btn-shop{margin-top: -15px !important;}
    .titleFeatured{height: 50px; line-height: 52px !important;font-size: 12px;}
    .titleFeatured2{height: 50px;Line-height: 52px !important;font-size: 12px;}
    .boxprevnext2 a i{line-height: 50px;}
    .btn-shop>span{font-size:13px !important;}
    .owl-carousel .owl-wrapper{margin-bottom:0px !important;}
    .owl-item{margin: 0px 8px !important; width: 249px !important;}
    .prueba{left: 186px;}
}

@media (min-width:1200px) and (max-width:1440px){
    .sectionBanner{padding-left: 15px !important;}
    .sectionFooter{padding-left: 9px !important;}
    .section-cms {padding-left:0px !important;}
    .asideCategory{padding-right:14px !important; padding-left:8px !important;}
    .owl-item{margin: 0px 8px !important; width: 248px !important;}
    .owl-carousel .owl-wrapper{margin-left: 16px !important;}
    .divTitleFeatured{ width: 97.5%; margin-left:14px;}
    .banner-box{background-size:100% !important;}
    .title-category{margin-top:0px !important; margin-bottom:0px !important; font-size:42px !important;}
    .btn-shop{margin-top: -15px !important;}
    .owl-carousel .owl-wrapper{margin-bottom:0px !important;}
}

@media (min-width:1451px) and (max-width:2600px){

    .owl-item{width: 289px !important; min-width: 0; margin-left: 0px !important;}
    /*.banner-box{width: 123% !important; margin-left:-131px;}*/
    .banner-box{background-size: 100% !important;}
    .title-category{margin-top:0px !important; margin-bottom:0px !important; font-size:50px !important;}
    .btn-shop{margin-top: -15px !important;}
    .banner2{width: 116% !important; margin-left: -88px;}
    .img-category{width:10% !important;}
    .divTitleFeatured{margin-left: -10px !important; width: 1191px !important;}
    .sectionBanner {padding-left: 0px !important; margin-left: -10px;}
    .section-cms{padding-left:0px !important;}
    .sectionFooter{padding-left: 0;margin-left: -16px;}
    .asideCategory{padding-right:0px;}
    .owl-carousel .owl-wrapper{margin-bottom: -25px !important;}
}

