
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);

.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/**************************************************************
					CMS Pages Styles
***************************************************************/
#cms #center_column .block-cms { padding-bottom: 20px; }
#cms #center_column h1 { margin-bottom: 25px; line-height: 40px;}
#cms #center_column h3 { font-size: 16px; border-bottom: none; margin: 0; padding: 0 0 17px 0; }
#cms #center_column p { line-height: 18px; }
#cms #center_column .list-1 li { padding: 4px 0 6px 0; font-weight: bold; color: #46a74e; border-top: 1px solid #e5e5e5; }
#cms #center_column .list-1 li:first-child { border: none; }
#cms #center_column .list-1 li em { font-size: 20px; line-height: 20px; padding-right: 15px; vertical-align: -2px; }
#cms #center_column img { margin: 4px 0 0px; max-width: 100%; height: auto; }
#cms #center_column .testimonials { border: 1px solid; border-color: #dfdede #d2d0d0 #b0afaf #d2d0d0; margin: 4px 0 13px 0; position: relative; }
#cms #center_column .testimonials .inner { border: 1px solid white; padding: 19px 18px 11px 18px; background: #fbfbfb; background: -moz-linear-gradient(top, #fbfbfb 0%, #fefefe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #fefefe)); background: -webkit-linear-gradient(top, #fbfbfb 0%, #fefefe 100%); background: -o-linear-gradient(top, #fbfbfb 0%, #fefefe 100%); background: -ms-linear-gradient(top, #fbfbfb 0%, #fefefe 100%); background: linear-gradient(to bottom, #fbfbfb 0%, #fefefe 100%); }
#cms #center_column .testimonials .inner span { text-indent: -5000px; display: inline-block; width: 20px; height: 15px; }
#cms #center_column .testimonials .inner span.before { background: url(../img/bl-before-bg.png) no-repeat; margin-right: 8px; }
#cms #center_column .testimonials .inner span.after { background: url(../img/bl-after-bg.png) no-repeat; margin-left: 8px; }
#cms #center_column .testimonials:after { content: "."; display: block; text-indent: -5000px; position: absolute; bottom: -16px; left: 21px; width: 15px; height: 16px; background: url(../img/testimon-after.gif) no-repeat; }
#cms #center_column .testimonials + p { padding-left: 45px; margin-bottom: 18px; }
#cms #center_column p.bottom-indent { margin-bottom: 18px; }
#cms #center_column #admin-action-cms { background: none repeat 0 0 #F6F6F6; border: 1px solid #d2d0d0; padding: 10px; }
#cms #center_column #admin-action-cms p { margin: 0; }
#cms #center_column #admin-action-cms p span { display: block; padding-bottom: 10px; font-size: 14px; font-weight: bold; color: #252525; }
#cms #center_column #admin-action-cms p .button { font: 700 17px/21px Arial, Helvetica, sans-serif; padding: 0; border: 1px solid; padding: 10px 14px; display: inline-block; }
#cms #center_column #admin-action-cms p .button.publish_button { color: white; text-shadow: 1px 1px rgba(0, 0, 0, 0.2); border-color: #0079b6 #006fa8 #012740 #006fa8; background: #009ad0; background: -moz-linear-gradient(top, #009ad0 0%, #007ab7 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009ad0), color-stop(100%, #007ab7)); background: -webkit-linear-gradient(top, #009ad0 0%, #007ab7 100%); background: -o-linear-gradient(top, #009ad0 0%, #007ab7 100%); background: -ms-linear-gradient(top, #009ad0 0%, #007ab7 100%); background: linear-gradient(to bottom, #009ad0 0%, #007ab7 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0); }
#cms #center_column #admin-action-cms p .button.publish_button:hover { border-color: #01314e #004b74 #0079b6 #004b74; filter: none; background: #0084bf; }
#cms #center_column #admin-action-cms p .button.lnk_view { color: #252525; text-shadow: 1px 1px white; border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7; background: #f7f7f7; background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ededed)); background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%); background: -o-linear-gradient(top, #f7f7f7 0%, #ededed 100%); background: -ms-linear-gradient(top, #f7f7f7 0%, #ededed 100%); background: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0); }
#cms #center_column #admin-action-cms p .button.lnk_view:hover { border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e; filter: none; background: #e7e7e7; }
ul.product_list > li .product-container .product-contents{
    padding:0px !important;
}
header:hover,nav:hover,aside:hover,footer:hover,section:hover,article:hover{
  cursor: pointer;
}

aside{
  width:32%;
  float:right;
  height:auto;
  padding-right: 2%;
}
section{
  width:65%;
  float:left;
  height:auto;
  padding: 0px;
}

article.sectionBanner {
padding-left: 3%;
margin-right: 0;
}

.sectionBanner>img{
  width: 100%;
}

.sectionFooter{
    text-align:center;
    padding-left: 2.1%;
    margin-right: 0;
}
.sectionFooter>img{
  width: 49% !important;
  display: inline-flex;
}

.asideCategory>img{
  width: 100%;
  height: auto;
}

#columns{
    margin-bottom:5% !important;
}

.text-bannercat{font-size:30px; font-weight:lighter; font-family:'Open Sans'}

/* Estilos css Comercios */
.img-center{position: absolute;min-width: 100%;display: inline-block;margin-top:28px;}
.img-category{width:15% !important;}
.style-search{background:#ef4136;height: 75px;}
.name-merchant{text-align:center;font-size: 12px;letter-spacing: 1px;margin-bottom: 5px; text-transform: uppercase; font-family:'Open Sans'}
.img-responsive{margin-left: auto !important;margin-right: auto !important;display: table-cell;}
.img-newmerchant{width: 180px;}

.iOS{
  width: 42px;
  height: 23px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: inset 0 0 rgb(0, 0, 0), 0 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.switch {
  width: 140px;
  height: 28px;
  position: relative;
  border-radius: 20px;
  left: 0;
}

.outter {
  float: left;
  position: relative;
  width: 70px;
  height: 28px;
}

.lside {
  border-radius: 15px 0 0 24px;
  background: #ef4136;
  /*background-image: linear-gradient(to bottom, rgb(8, 79, 172), rgb(143, 186, 248));*/
}

.rside {
  border-radius: 0 20px 20px 0;
  background-image: linear-gradient(to bottom, rgb(163, 163, 163), white);
}

.otxt {
  position: absolute;
  top: 4px;
}

.lside .otxt {
  left: 17px;
  color: white;
}

.rside .otxt {
  right: 15px;
  color: rgb(110, 110, 110);
}

.circle {
  position: absolute;
  left: 20px;
  width: 22px;
  height: 22px;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(bottom, white, #bfc3c7);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 1px 1px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px #b6babe, 0 7px rgba(255, 255, 255, 0);
}

.containerwidth{
  width: 100%;
}

.containerwidth-column{
  width: 75%;  
}

.menuSticky{
  height: auto;  
}

.text-filter{margin-top: 10px; font-size: 12px;letter-spacing: 1.5px;color: #949494; text-transform: uppercase;}

@media (max-width:1024px){
    .owl-item{width: 229px !important;min-width: 0; margin:0px; margin-left: 18px !important;}
    .title-category{margin-top:80px !important; margin-bottom:0px !important;}
    .banner-box{background-size:100% !important;}
    .divTitleFeatured{ width: 97.3%; margin-left:9px; height: 50px;}
    .titleFeatured{height: 50px; line-height: 52px !important;font-size: 12px;}
    .btn-shop{width:20% !important; height: 38px !important; padding-top: 10px !important;}
    .btn-shop>span{font-size:13px !important;}
    .boxprevnext2 a i{line-height: 50px;}
    .titleFeatured2{height: 50px;Line-height: 52px !important;font-size: 12px;}
    .sectionBanner{padding-left:4px !important;}
    .section-cms{padding-left:5px !important;}
    .sectionFooter{padding-left: 0;}
    .asideCategory{padding-right: 11px;}
    .menuAccountProfile{width:21% !important;}
    .owl-carousel .owl-wrapper{margin-bottom:0px !important; left: -14px !important;}
    .prueba{left: 170px;}
    .menuAccount{font-size:13px;}
    .save-product{font-size: 16px;text-align: right;padding-right: 0px;}
    form#searchbox{position: initial !important;top: 0px !important;padding-left: 285px !important;}
    .container{ max-width: 1024px;}
    .containerFeatured{margin-bottom:0px !important; }
    .img-center{margin-top:32px;}
    .img-newmerchant{ width: 150px;}
}

@media (max-width:768px){
    .owl-carousel{left: -4px;}
    .divTitleFeatured{width:98%;margin-top: 0px;}
    .owl-item{width: 228px !important;}
    .boxprevnext2 a{margin-top:0px;}
    form#searchbox{position: initial !important;top: 0px !important;padding-left: 170px !important;}
    .btn-shop{margin-bottom: 60px !important;}
    .title-category{margin-top:120px !important; margin-bottom:0px !important;}
    .cont-category{margin-top: -21px;}
    .img-center{margin-top:30px;}
    .breadcrumb {margin-left: 0px;padding-left: 0px !IMPORTANT; margin-bottom: 20px;}
    .containerwidth-column{width: 100%;}
    .menuSticky{height: auto !important;}
    .containerFeatured{float: none !important;}
}

@media (max-width:425px){
    .owl-item{width: 385px !important;margin-left: 10px !important;}
    .title-category{margin-top: 35px !important;font-size:25px !important;}
    .btn-shop{ margin-top: -30px !important;}
    .divTitleFeatured{margin-top: 10px !important; margin-left: 6px !important;margin-bottom: 10px !important; width: 97%;}
    .boxprevnext2 a{margin-top: 10px !important;}
    .iWhite{padding: 15%;}
    .menuAccountProfile {width: 15% !important;}
    .block{padding-top: 10px;}
    .boxprevnext2 a.prev{ right: 58px;width: 60px;}
    .boxprevnext2 a.next{right: 8px; width: 50px;}
    .icon-chevron-left:before{font-size:16px;}
    .icon-chevron-right:before{font-size:16px;}
    .banner-box{background-size:500px !important;}
    form#searchbox{padding-left: 20px !important;}
    form#searchbox input#search_query_block{max-width: 318px !important;}
    .owl-carousel .owl-wrapper{    margin-left: 8px;}
    .section-cms{padding-left:0px !important; padding-right:0px !important;}
    .asideCategory{padding-left:0px !important; padding-right:0px !important;}
    #cms #center_column img{margin-bottom:0px;}
    .banner2{margin-top: 65px !important;}
    .text-bannercat {font-size: 22px;font-weight: lighter;font-family: 'Open Sans';}
    .btn-shop{width: 30% !important;margin-bottom: 40px !important;}
    .block{padding-top:0px;}
    .img-center {margin-top: 72px;}
    .img-newmerchant{ width: 200px;}
}

@media (max-width:375px){
    .menuSticky{ margin-bottom: 21px !important;}
    .owl-item{ width: 335px !important;}
    .banner2{margin-top: 60px !important;background-size: 450px !important;}
    .boxprevnext2 a{width: 50px;}
    .boxprevnext2 a.prev{right: 55px; width: 50px;}
    .boxprevnext2 a.next{right: 6px;}
    .icon-chevron-left:before{font-size:16px;}
    .icon-chevron-right:before{font-size:16px;}
    form#searchbox input#search_query_block {max-width: 273px !important;}
    .btn-shop {width: 36% !important;margin-bottom: 32px !important;}
    .img-center {margin-top: 55px;}
    .breadcrumb{font-size: 10px;}
}

@media (max-width:320px){
    .title-category{ margin-top: 12px !important; font-size: 16px !important;}
    .owl-item {width: 325px !important;}
    .boxprevnext2 a.prev{right: 70px;}
    .boxprevnext2 a.next{right: 21px;}
    .divTitleFeatured{width: 96%;}
    .title-block{width:95%;}
    .pruebaImgCategory{width: 100% !important;}
    form#searchbox input#search_query_block {max-width: 216px !important;}
    .banner2{ background-size: 380px !important;}
    .btn-shop{margin-bottom: 26px !important; width: 40% !important;}
    .text-bannercat {font-size: 18px;font-weight: lighter;font-family: 'Open Sans';}
    .owl-item {width: 280px !important;}
    .btn-shop>span {font-size: 9px !important;}
    .img-center {margin-top: 45px;}
    .img-newmerchant{width: 180px !important;}
}

@media (min-width:1025px) and (max-width:1120px){
    .sectionBanner{padding-left: 10px !important;}
    .sectionFooter{padding-left: 6px !important;}
    .section-cms {padding-left:0px !important;}
    .asideCategory{padding-right:14px !important; padding-left:8px !important;}
    .owl-carousel .owl-wrapper{margin-left: 0px !important;}
    .divTitleFeatured{ width: 97.5%; margin-left:10px; height: 50px;}
    .banner-box{background-size:100% !important;}
    .title-category{margin-top:100px !important; margin-bottom:0px !important; font-size:42px !important;}
    .btn-shop{margin-top: -15px !important;}
    .titleFeatured{height: 50px; line-height: 52px !important;font-size: 12px;}
    .titleFeatured2{height: 50px;Line-height: 52px !important;font-size: 12px;}
    .boxprevnext2 a i{line-height: 50px;}
    .btn-shop>span{font-size:13px !important;}
    .owl-carousel .owl-wrapper{margin-bottom:0px !important;}
    .owl-item{margin: 0px 8px !important; width: 240px !important;}
    .menuAccountProfile{width:40px;}
    .prueba{left: 171px;}
    .save-product{font-size: 16px;text-align: right;padding-right: 0px;}
    form#searchbox{ padding-left: 310px !important;}
    .container{max-width: 1080px;}
}

@media (min-width:1200px) and (max-width:1440px){
    .sectionBanner{padding-left: 0px !important; }
    .sectionFooter{padding-left: 9px !important;}
    .section-cms {padding-left:0px !important;padding-right: 0px;}
    .asideCategory{padding-right:0px !important; padding-left:0px !important;}
    .owl-item{margin: 0px 8px !important; width: 247px !important;}
    .owl-carousel .owl-wrapper{margin-left: 1px !important;}
    .divTitleFeatured{ width: 97.5%; margin-left:14px;}
    .banner-box{background-size:100% !important;}
    .title-category{margin-top:100px !important; margin-bottom:0px !important; letter-spacing: 10px; font-size:42px !important;}
    .btn-shop{width: 150px !important;margin-top: 0px !important;}
    .owl-carousel .owl-wrapper{margin-bottom:0px !important;}
    .save-product{font-size: 16px;text-align: right;padding-right: 0px;}
    .container{max-width: 1440px;}
    .widthColumn{width: 93% !important;margin-left: 30px !important;}
}

@media (min-width:1451px) and (max-width:2600px){

    .owl-item{width: 342px !important; min-width: 0; margin-left: 0px !important;}
    /*.banner-box{width: 123% !important; margin-left:-131px;}*/
    .banner-box{background-size: 100% !important;}
    .title-category{margin-top:160px !important; margin-bottom:0px !important; font-size:50px !important;}
    .btn-shop{margin-top: 10px !important;width: 180px !important;}
    .banner2{ width: 100% !important; margin-left: 0;    height: 450px !important;}
    .img-category{width:10% !important;}
    .divTitleFeatured{margin-left: 0 !important; width: 1191px !important;}
    .sectionBanner {padding-left: 0px !important; margin-left: 0;}
    .section-cms{padding-left:0px !important;}
    .sectionFooter{padding-left: 0;margin-left: 0;}
    .asideCategory{padding-right:0px;}
    .owl-carousel .owl-wrapper{margin-bottom: -25px !important;}
    .owl-carousel {position: relative;width: 102%;left: 0px;}
    .menuAccount{height: 45px;}
    .menuAccountProfile{height: 45px;}
    .iWhite{ padding: 10px;}
    .container{ max-width: 1920px;}
    .text-bannercat {font-size: 60px;font-weight: lighter;letter-spacing: 10px;font-family: 'Open Sans';}
    form#searchbox{position: initial !important;top: 0px !important;padding-left: 740px !important;}
    .img-center{position: absolute;min-width: 100%;display: inline-block;margin-top:55px;}
    .widthColumn{width: 92% !important;margin-left: 45px !important;}
}

