/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-dic-2016, 17:59:02
    Author     : Ingenio
*/

.texto-cancel{
   padding: 20px;
   font-size: 14px;
   line-height: 30px;
}

.form-cancel{
    text-align: center;
    min-height: 500px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 350px;
}

.title-cancel{
    font-size: 26px;
    color: #000;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.border-red{
    height: 15px;
    width: 70px;
    border-bottom: 3px solid #ef4136;
    margin-left: 322px;
}

@media (min-width:1580px){
    .border-red{margin-left: 370px;}
}

@media (max-width:1024px){
    .form-cancel{margin-left: 300px;}
    .border-red{margin-left: 196px;}
    .title-cancel{font-size: 16px;}
}

@media (max-width:768px){
    .form-cancel{margin-left: 30px;}
    .border-red{margin-left: 330px;}
}

@media (max-width:425px){
    .form-cancel{margin-left: 15px;}
    .border-red{margin-left: 170px;}
}

@media (max-width:375px){
    .form-cancel{margin-left: 0px;}
    .border-red{margin-left: 150px;}
}

@media (max-width:320px){
    .form-cancel{margin-left: 0px;}
    .border-red{margin-left: 120px;}
}
