@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);

.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/************************************************************
				History Page Styles
************************************************************/
#order-detail-content table .return_quantity_buttons { margin-top: 3px; }
#order-detail-content table .return_quantity_buttons a { display: none; float: left; }
#order-detail-content table .return_quantity_buttons a + a { margin-left: 3px; }
#order-detail-content table .order_qte_input { display: none; width: 57px; height: 27px; line-height: 27px; padding: 0; text-align: center; }
#order-detail-content table label { font-weight: 400; }

.table td.history_detail a + a { margin-left: 14px; }
.table td.step-by-step-date { width: 105px; }
.table tfoot strong { color: #252525; }

.info-order i { font-size: 20px; }
.info-order i.icon-gift { color: #f13340; }
.info-order i.icon-repeat { color: #55c65e; }

#sendOrderMessage { margin-bottom: 30px; }
#sendOrderMessage select.form-control { width: 263px; }

.history_invoice > div > p{text-align: left !important; line-height: 15px; padding-left: 2% !important; font-family:'Open Sans' !important; color: #d6d4d4 !important;}
.history_date{text-align: left !important; padding-left: 2% !important; font-family:'Open Sans' !important;}
.history_price>div>p{text-align: right !important; line-height: 15px; padding-right: 2% !important; font-family:'Open Sans' !important; font-size: 13px !important;}
.history_point{color:#ef4136 !important; font-size: 20px !important; padding: 1% !important; font-family:'Open Sans' !important; margin: 0 auto; display: flex;    margin-left: 10%; border: none !important; margin-top: 5%;}
.btn_history{ color:#fff !important; padding: 2% 6% !important; Letter-spacing: 1px !important; background: #ea3624; border: none; font-family:'Open Sans' !important;}
.btn-history{background: #c9b197; color: #fff; padding: 8%; font-size: 14px;     width: 200px;}
.btn-history-shop{background: #c9b197; color: #fff; padding: 8%; font-size: 14px; width: 200px; }
.table tbody > tr > td{padding: 9px 8px 8px 9px !important;}
#block-history { overflow-x: auto; }