@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);

.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/************************************************************
				History Page Styles
************************************************************/
#order-detail-content table .return_quantity_buttons { margin-top: 3px; }
#order-detail-content table .return_quantity_buttons a { display: none; float: left; }
#order-detail-content table .return_quantity_buttons a + a { margin-left: 3px; }
#order-detail-content table .order_qte_input { display: none; width: 57px; height: 27px; line-height: 27px; padding: 0; text-align: center; }
#order-detail-content table label { font-weight: 400; }

.table td.history_detail a + a { margin-left: 14px; }
.table td.step-by-step-date { width: 105px; }
.table tfoot strong { color: #252525; }

.info-order i { font-size: 20px; }
.info-order i.icon-gift { color: #f13340; }
.info-order i.icon-repeat { color: #55c65e; }

#sendOrderMessage { margin-bottom: 30px; }
#sendOrderMessage select.form-control { width: 263px; }

.history_invoice > div > p{text-align: left !important; line-height: 15px; padding-left: 2% !important; font-family:'Open Sans' !important; color: #d6d4d4 !important;}
.history_date{text-align: left !important; padding-left: 2% !important; font-family:'Open Sans' !important;}
.history_price>div>p{text-align: right !important; line-height: 15px; padding-right: 2% !important; font-family:'Open Sans' !important; font-size: 13px !important;}
.history_point{color:#ef4136 !important; font-size: 20px !important; padding: 1% !important; font-family:'Open Sans' !important; margin: 0 auto; display: flex;    margin-left: 10%; border: none !important; margin-top: 5%;}
.btn_history{ color:#fff !important; padding: 2% 6% !important; Letter-spacing: 1px !important; background: #ea3624; border: none; font-family:'Open Sans' !important;}
.btn-history{background: #c9b197; color: #fff; padding: 10px; font-size: 14px;     width: 200px;}
.btn-history-shop{background: #c9b197; color: #fff; padding: 10px; font-size: 14px; width: 200px; }
.table tbody > tr > td{padding: 9px 8px 8px 9px !important;}
#block-history { overflow-x: auto; }
.btn_history:hover{background: #c9b198;}
.div-btnShop{text-align: right;padding-right: 0px;}

.history_list > .row > div { padding: 0; }
.history_list > .row > div { border: 1px solid #d6d4d4; text-align: left;border-right: none; border-bottom: none;}
.history_list > .row > div > .row > div:first-child { border-bottom: 1px solid #d6d4d4; color: #414042; font-weight: bold; font-family: 'Open Sans'; background: #f7f7fb; padding: 9px 8px 8px 9px; }
.history_list > .row > div > .row > div:last-child { padding: 9px 8px 8px 9px; height: 155px; display: table-cell; vertical-align: middle; }
.block-center { text-align: center!important; }
.block-right { text-align: right!important; border-right: 1px solid #d6d4d4 !IMPORTANT;}
.block-points { color: #ef4136; font-size: 20px; padding: 25px 10px!important; }
.block-cards { text-align: right!important; padding: 25px 10px!important; }
.block-save { text-align: right!important; color: #ef4136; font-size: 13px; padding: 25px 10px!important; border-right: 1px solid #d6d4d4 !important;}
.block-product-name { color: #231f20; font-size: 18px; font-weight: bold; line-height: 25px; }
.block-qty { font-size: 22px; padding-left: 45px!important; }
.block-price { color: #231f20; font-weight: bold; }
.block-data-history_list { height: 190px; }
.text-right-history{text-align: right !important;}
.buttonAccordion{
    padding: 10px;
    border: 1px solid #cacaca;
    background-image: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%);
    border-bottom: none;
    color: #000;
    text-shadow: 1px 1px white;
}
.row-btns{margin-top: 20px;}

.div-btnAccount{padding-left: 0px;}
.clicked{background: #ef4136; color: #fff;text-shadow: none;font-weight: bold;}
.border_bottom{border-bottom: 1px solid #d6d4d4;}
.img-logo{background-size:100% 100% !important; margin:10px;}
.img-center{padding: 10px; min-width: 100%;display: table; margin-bottom: 5px; height: 135px; text-align: center;}
.img-center img{max-width: 70% !important; margin: 0px auto !important;}
.logo-manufacturer{display: table-cell;
     vertical-align: middle;
     position: relative;}

@media (max-width:768px){
    .image-resp{    
        width: 82% !important;
        margin-left: 22px !important;
        margin-right: 0px !important;}
    .div-btnAccount{padding-left: 15px;}
    .div-btnShop{padding-right: 15px;}
}

@media (max-width:425px){
    .image-resp{    
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;}
    
    p {
        font-size: 10px;
    }
    .btn-history{font-size: 11px;}
    .btn-history-shop{font-size: 11px;}
}

@media (max-width:375px){
    .btn_history {padding: 8px 15px !important;}
    .block-points{font-size: 14px;}
}

@media (max-width:320px){
    .btn_history {padding: 8px 7px !important;}
    .block-points{font-size: 14px;}
}