.headinformation { border-bottom: 1px solid #e5e5e5; margin-bottom: 35px; }
.bodyinformation { padding: 0 30px; }
.title { font-size: 19px!important; display: inline-block; font-weight: lighter; }
.titleInfo, .deactivate, .title, .edit { letter-spacing: -1px; display: inline-block; text-transform: uppercase; color: #3A3A3A; font-weight: bold; }
.titleInfo { font-size: 22px; border: 0; padding: 0; font-family: Montserrat; }
.deactivate { font-size: 13px; color: #C9B197; float: right; cursor: pointer; }
.allPanelInfo { border: 0; }
.edit { font-size: 16px; color: #E1382C; float: right; cursor: pointer; }
.edit:hover { opacity: 0.5; }
.profile h1 { margin: 0; }
.fieldInfo { background-color: #F9F9F9; padding: 2%; margin: 0; width: 100%;}
.fieldInfo label { font-weight: lighter; }
.fieldInfo .clearfix, .fieldInfo .form-group, .fieldInfo .checkbox { margin-bottom: 20px!important; }
.std, .stdcard { color: #3A3A3A; font-weight: bold; font-family: 'Montserrat'; }
.std input, .stdcard input { color: #585858; font-family: 'Montserrat'; padding: 0; letter-spacing: 0px; }
.std .checkbox label, .stdcard .checkbox label { color: #3A3A3A; font-family: 'Montserrat'; padding: 0; }
.std label, .stdcard label { margin: 0; vertical-align: middle; line-height: -1px; }
.enabled { border: none; }
.enabled:disabled { background-color: #F9F9F9; cursor: default; }
.btnInfo, .btnCard { display: none; width: 40%; }
.btnDeactivate { display: none; }
.requiredinfo, .requiredinfocard { display: none; }
.form-control { display: inline-block; font-size: 14px; }
.dateBirth, .dateExpiration { display: inline-flex; width: 100%; }
.dateBirth .row, .dateExpiration .row { margin-left: 10px!important; margin-left: 0!important; }
.newPassword { display: none; }
div.selector.disabled span, div.selector.disabled.active span { color: #585858; }
.dateBirthInput, .dateBirthInputCard { display: none; }
.dateBirthInput span, .dateBirthInput select, .dateBirthInputCard span, .dateBirthInputCard select { width: 100px; }
.dateBirthText, .dateBirthTextCard, .dateBirthInputCard, .card_digits { font-weight: lighter; }
.card_digits { color: #E1382C; }
#numbercard { width: 100px; }
#typecard { padding-left: 42px; height: 24px; max-width: 42px!important; }
.btnCard { padding: 2% 8%; background: #c9b197; border: 1px solid #c9b197; color: #fff; font-size: 1.3em; }
.btnCard:hover { background: #fff; color: #c9b197; border: 1px solid #c9b197; }
.block-profileimg { display: none; }

@media (max-width: 550px) { 
    .dateBirth, .dateExpiration { display: inline-block; }
    .deactivate { float: none; }
    .headinformation h1 { margin: 0; }
}

@media (max-width: 768px){
    .img-identity{text-align: center;}
}

@media (max-width: 425px){
    .bodyinformation{padding-left: 0px; padding-right: 0px;}
    .form-group > input {font-size: 12px; width: 215px;}
    .title{font-size: 14px!important;}
    .edit{font-size: 14px!important;}
}

@media (max-width:320px){
    #identity .box {padding-left: 10px; padding-right: 10px;}
}