.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

#my-account .addresses-lists { margin-bottom: 30px; }
#my-account ul.myaccount-link-list li { overflow: hidden; padding-bottom: 10px; }
#my-account ul.myaccount-link-list li a { display: block;overflow: hidden; height: 45px;font: 600 16px/20px "Open Sans", sans-serif;color: #555454;text-transform: uppercase;text-decoration: none;position: relative;margin-top: 7px;border: 1px solid #CBCBCB;}
#my-account ul.myaccount-link-list li a i { font-size: 25px; color: #ef4136; position: absolute; left: 0; top: 0; width: 52px; height: 100%; padding: 10px 0 0 0; text-align: center; border: 1px solid white; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
#my-account ul.myaccount-link-list li a span { font-size:11px ;display: inline-flex; padding: 10px; overflow: hidden; border: none; margin-left: 52px; border-color: white white white #c8c8c8; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
#my-account ul.myaccount-link-list li a:hover { filter: none; background: #e7e7e7; border-color: #9e9e9e #c2c2c2 #c8c8c8 #c2c2c2; }
.imgSponsor{padding: 0px; border-right: solid 1px #CBCBCB;}
.imgSponsor2{background: transparent; border-radius: 30%; width: 9%;}
.spanSponsor{margin-left: 0px !important;}

.page-heading { letter-spacing: 2px; font-weight: bold; padding: 0; padding-bottom: 15px!important; }
.blockcontainer { width: 100%; }
.blockcontainer > div { width: 49%; display: inline-block; padding: 4px; }
.blockcontainer > div > h2 { font-size: 17px; letter-spacing: 0; font-weight: bold; }
.textsearch { padding: 15px 35px 15px 15px; width: 97%; background-color: #f9f9f9; border: none; }
.searchimg { position: relative; left: -30px; cursor: pointer; }
.tablenetwork { width: 97%; margin: 20px 0; }
.tablenetwork > tbody > tr > td { padding: 0; }
.tablecontent { width: 100%; border: 1px solid #e5e5e5; }
.name { font-weight: bold; font-size: 14px; text-transform: capitalize; }
.information { font-size: 11px; }
.data { font-size: 12px; color: #EF4136; font-weight: bold; }
.line {  border-bottom: 1px solid #e5e5e5; }
.img { padding: 15px; width: 20px; }

@media (max-width:420px){
    .spanSponsor{font-size:10px !important; padding-left: 5px !important;}   
}

.id_manufacturer{
    display: none;
}

.available_cards{
    text-align: left;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.state-card{
    text-align: center;
}

.div-state{
    margin-bottom: 12px;
}

#price_value{
    display: none;
}

.price_value_content{
    color: #ef4136;
    font-size: 16px;
}

#date{
    display: none;
}

.used-oculto{
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    float:left;
    margin-top: 15px;
}

.la-amarilla{
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
    background-color: #E9CF08;
    color: #eede23;
    display:inline-block;
}

.la-verde{
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
    background-color: darkgreen;
    color: darkgreen;
    display:inline-block;
}

.la-roja{
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;   
    background-color: red;
    color: red;
display:inline-block;    
}

.filtro{
   margin: 0;
    padding: 0;
}

.filtro li{
    float:left;
    max-width: 85px;
}

.filtro li:hover{
    cursor:pointer;
}

.terms-card{
    width: 80%;
    text-align: justify;
    color: #808285;
    margin: 0 auto;
    font-family: 'Open Sans' !important;
    margin-top: 5%;
    margin-bottom: 5%;
}

.terms-card>p{
    line-height: 18px !important;
    font-size: 12px !important;
}

#terms_oculto{
    display: none;
}