.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

#my-account .addresses-lists { margin-bottom: 30px; }
#my-account ul.myaccount-link-list li { overflow: hidden; padding-bottom: 10px; }
#my-account ul.myaccount-link-list li a { display: block; overflow: hidden; font: 600 16px/20px "Open Sans", sans-serif; color: #555454; text-transform: uppercase; text-decoration: none; position: relative; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #ededed)); background-image: -webkit-linear-gradient(#f7f7f7, #ededed); background-image: -moz-linear-gradient(#f7f7f7, #ededed); background-image: -o-linear-gradient(#f7f7f7, #ededed); background-image: linear-gradient(#f7f7f7, #ededed); margin-top:7px;}
#my-account ul.myaccount-link-list li a i { font-size: 25px; color: #ef4136; position: absolute; left: 0; top: 0; width: 52px; height: 100%; padding: 10px 0 0 0; text-align: center; border: 1px solid white; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
#my-account ul.myaccount-link-list li a span { font-size:11px ;display: inline-flex; padding: 13px 15px 15px 17px; overflow: hidden; border: none; margin-left: 52px; border-color: white white white #c8c8c8; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
#my-account ul.myaccount-link-list li a:hover { filter: none; background: #e7e7e7; border-color: #9e9e9e #c2c2c2 #c8c8c8 #c2c2c2; }
.imgSponsor{padding: 2%; border-right: solid 1px #fff;}
.imgSponsor2{background: transparent; border-radius: 30%; width: 9%;}
.spanSponsor{margin-left: 0px !important;}


@media (max-width:420px){
    .spanSponsor{font-size:10px !important; padding-left: 5px !important;}   
}

.id_manufacturer{
    display: none;
}

#price_value{
    display: none;
}

.price_value_content{
    color: #ef4136;
    font-size: 16px;
}

.pValuePrice{
    font-size: 12px;
    margin-top: 11px;
    padding-left: 11px;
    text-align: left;
}

#date{
    display: none;
}

.used-oculto{
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    float:left;
    margin-top: 15px;
}
.la-amarilla{
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
    background-color: #eede23;
    color: #eede23;
}

.la-verde{
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
    background-color: darkgreen;
    color: darkgreen;
}

.la-roja{
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;   
    background-color: red;
    color: red;    
}