.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

#my-account .addresses-lists { margin-bottom: 30px; }
#my-account ul.myaccount-link-list li { overflow: hidden; padding-bottom: 10px; }
#my-account ul.myaccount-link-list li a { display: block;overflow: hidden; height: 45px;font: 600 16px/20px "Open Sans", sans-serif;color: #555454;text-transform: uppercase;text-decoration: none;position: relative;margin-top: 7px;border: 1px solid #CBCBCB;}
#my-account ul.myaccount-link-list li a i { font-size: 25px; color: #ef4136; position: absolute; left: 0; top: 0; width: 52px; height: 100%; padding: 10px 0 0 0; text-align: center; border: 1px solid white; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
#my-account ul.myaccount-link-list li a span { font-size:11px ;display: inline-flex; padding: 10px; overflow: hidden; border: none; margin-left: 52px; border-color: white white white #c8c8c8; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
#my-account ul.myaccount-link-list li a:hover { filter: none; background: #e7e7e7; border-color: #9e9e9e #c2c2c2 #c8c8c8 #c2c2c2; }
.imgSponsor{padding: 0px; border-right: solid 1px #CBCBCB;}
.imgSponsor2{background: transparent; border-radius: 30%; width: 9%;}
.spanSponsor{margin-left: 0px !important;}

.page-heading { letter-spacing: 2px; font-weight: bold; padding: 0; padding-bottom: 15px!important; }
.blockcontainer { width: 100%; }
.blockcontainer > div { width: 49%; display: inline-block; padding: 4px; }
.blockcontainer > div > h2 { font-size: 17px; letter-spacing: 0; font-weight: bold; }
.textsearch { padding: 15px 35px 15px 15px; width: 97%; background-color: #f9f9f9; border: none; }
.searchimg { position: relative; left: -30px; cursor: pointer; }
.tablenetwork, .tablemessages { width: 97%; }
.tablenetwork > tbody > tr > td { padding: 0; }
.block-network > h2, .block-messages > h2 { margin: 0; }
.tablemessages > tbody > tr > td { padding: 0; }
.tablecontentmessages { border: none!important; }
.tablemessages > tbody> tr:nth-child(odd) { background-color: #F4F4F4; }
.tablecontent { width: 100%; border: 1px solid #e5e5e5; }
.name { font-weight: bold; font-size: 14px; text-transform: capitalize; }
.information { font-size: 11px; }
.data { font-size: 12px; color: #EF4136; font-weight: bold; }
.line {  border-bottom: 1px solid #e5e5e5; }
.img { padding: 15px; width: 20px; }
.message { font-size: 8px; color: #EF4136; text-transform: uppercase; text-align: right; }
.message > span { border: 1px solid #EF4136; padding: 3px 5px; cursor: pointer; }
.colname { width: 285px; }
.colpoints { width: 180px; }

/* popup */
#myspecialcontent2 > div { margin-bottom: 15px; }
.blockbutton { text-align: center; }
.titlesendmessage { text-align: left; }
#messagesendmessage { border-left: none; border-right: none; border-bottom: none; }
#namesendmessage { margin-left: 5px; font-size: 16px; text-transform: capitalize; }
.close-advertencia{font-size: 18px; margin-left: 5px; cursor: pointer;}

/* my network feed */
.pointstitlemnf { font-weight: bold; border-bottom: 1px solid #CDCED0; font-size: 13px; padding: 10px 7px; }
.pointsmnf { font-weight: bold; color: #EF4136; }
.networkfeed { }
.networkfeed > .container1 { padding-left: 0px; padding-right: 0px; margin-right: 1%; margin-bottom: 15px; }
.networkfeed > .container2 { padding-left:0px; padding-right: 0px; }
.networkfeed > .container1 > .row > .containerimgprod { padding-left: 0px; padding-right: 0px; }
.networkfeed > .container1 > .row > .containerinfor { padding: 3px 12px 0px 12px; background-color: #F4F4F4; }
.networkfeed > .container1 > .row > .containerinfor > .row > .containerimgcustom { padding-left: 0px; padding-right: 0px; }
.networkfeed > .container1 > .row > .containerinfor > .row > .containerpurchase { padding-left: 0px; padding-right: 0px; font-size: 11px;}
.networkfeed > .container1 > .row > .containerinfor > .row > .message { padding: 10px 0; background: transparent !important;}
.networkfeed > .page-heading { margin-bottom: 30px; }

@media (max-width:420px){
    .spanSponsor{font-size:10px !important; padding-left: 5px !important;}   
}

.id_manufacturer{
    display: none;
}

.available_cards{
    text-align: left;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.state-card{
    text-align: center;
}

.div-state{
    margin-bottom: 12px;
}

#price_value{
    display: none;
}

.price_value_content{
    color: #ef4136;
    font-size: 16px;
}

#date{
    display: none;
}

.used-oculto{
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    float:left;
    margin-top: 15px;
}

.la-amarilla{
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
    background-color: #E9CF08;
    color: #eede23;
    display:inline-block;
}

.la-verde{
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
    background-color: darkgreen;
    color: darkgreen;
    display:inline-block;
}

.la-roja{
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;   
    background-color: red;
    color: red;
display:inline-block;    
}

.filtro{
   margin: 0;
    padding: 0;
}

.filtro li{
    float:left;
    max-width: 85px;
}

.filtro li:hover{
    cursor:pointer;
}

.terms-card{
    width: 80%;
    text-align: justify;
    color: #808285;
    margin: 0 auto;
    font-family: 'Open Sans' !important;
    margin-top: 5%;
    margin-bottom: 5%;
}

.terms-card>p{
    line-height: 18px !important;
    font-size: 12px !important;
}

#terms_oculto{
    display: none;
}

.banner-advertencia{
    margin-top: 70px;
    height: 45px;
    background: #ef4136;
    color:#fff;
}

.p-advertencia{
    text-align: center;
    line-height: 45px;
    font-size: 14px;
}

.Cards{display: none;}
.last_shop{display: none;}
.member{display:none}
.t-messages{display:none; line-height: 22px;}
.block-red{    margin-left: 20px;
    padding-left: 0px;
    padding-right: 0px;}

.btn-more{
    background-color: #c9b198;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 9px;
    width: 84.3%;
    margin-bottom: 20px;
}
.btn-more2{
    background-color: #c9b198;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 9px;
    width: 68.3%;
    margin-bottom: 20px;
}
.btn-more:hover{
    color: #fff;
    background: #ef4136;
}
.btn-moreload{
    background-color: #c9b198;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 9px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 97%;
}

.btn-moreload:hover{
    color: #fff;
    background: #ef4136;
}

.btn-advertencia{    
    color: #fff;
    border-bottom: solid 1px #fff;
    margin-left: 15px;}

.icon-refresh:hover  {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.pmore{margin-right: 10px; font-size: 12px; text-transform: uppercase;}

@media (max-width:1024px){
    .btn-more{margin-left: 10px;}
    .nameCard > span {font-size: 10px;}
    .container1{margin-left: 5px; margin-right: 5px !important;}
    .containerinfor{padding-left: 0px !important; padding-right: 0px !important;}
    .networkfeed > .container1 > .row > .containerinfor > .row > .containerpurchase{font-size: 8px;}
}

@media (max-width:768px){
    .btn-more{margin-left: 0px;width: 100%;}
    .block-red{margin-left: 0px; padding-right: 15px;}
    .nameCard > span {font-size: 12px;}
    .networkfeed{    margin-top: 20px !important;padding-left: 15px;padding-right: 20px;}
    .btn-more2{width: 100%;}
    .containerinfor{padding-left: 0px;padding-right: 0px}
    .container1{margin-left: 0px; margin-right: 0px !important;}
}

@media (max-width:425px){
    .btn-more2{margin-left: 10px; width: 95%;}
    .block-r{padding-right: 0px !important;}
    .block-red{margin-left: 15px; padding-right: 15px;}
    .container1{margin-left: 0px; margin-right: 5px !important;}
    .networkfeed{    margin-top: 20px !important;padding-left: 0px;padding-right: 0px;}
}

@media (max-width:320px){
    .account-responsive{padding-left: 0px !important;padding-right: 0px !important;}
    .btn-more2 {margin-left: 0px;width: 100%;}
    .block-red{margin-left: 0px; padding-right: 0px;}
    .block-r {padding-left: 0px !important;}
    .card-st{ padding-left: 0px;padding-right: 0px !important;}
    .block_b{ padding-left: 0px !important;padding-right: 0px !important;}
    .tablenetwork, .tablemessages{width: 100%;}
    .btn-moreload{width: 100%;}
    .nameProfile{padding-right: 0px !important;}
}