/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/08/2016, 01:26:22 PM
    Author     : json
*/

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);

.title { letter-spacing: 0px; font-weight: bold; font-size: 17px; padding: 0; }
.btnaccount { float: right; }
.btnaccount a { background: #C9B197!important; letter-spacing: 0px; padding: 13px 30px!important; }
.btnaccount a:hover { background: #ee4a42!important; }
.img_product { width: 100%; }
.products, .transaction { margin-left: 0!important; }
.transaction table { margin: 0 auto; width: 50%; }
.transaction > table > thead > tr > th { text-align: center; font-size: 16px; }
.transaction > table > tbody > tr > td:first-child { text-align: right; font-weight: bold; color: #404041; }
.products td, .products tr, .products th { border: 1px solid #E5E5E5; }
.products .head { color: #404041; background-color: #F9F9F9; font-size: 16px; font-weight: bold; }
.products > tbody > tr > td:first-child { padding: 10px; }
.head > th:last-child, .products > tbody > tr > td:last-child { text-align: right; padding-right: 20px; font-weight: bold; }
.name_product { color: #404041; font-weight: bold; text-transform: uppercase; margin-top: 23px;}
.number_product { font-size: 12px; }
.empty { background-color: #F9F9F9; }
.price { color: #777777; font-weight: bold; font-size: 15.4px; }
.card_value { color: #404041; font-size: 14.5px; }
.save { color: #E1382C; font-size: 15.4px; }
.not_view { border-left: 0px hidden #E5E5E5 !important; border-bottom: 0px hidden #E5E5E5 !important; }
.information { text-align: center; color: #EF4136; }
.transaction-title{text-align: center;border-bottom: 1px solid #e5e5e5;font-family: 'Open-Sans'; font-size: 16px; font-weight: bold;}
.title-right{text-align: right; font-size: 14px; font-weight: bold; padding-right: 40px;}
.border-trans{    padding: 10px;border-bottom: 1px solid #e5e5e5;}
.title-margin{margin-bottom: 30px; border: 1px solid #e5e5e5;}
.padding-title{padding: 10px;}
.left-title{text-align: right;}

/*progress bar*/
.bs-wizard {margin-top: 0px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 0px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #fff; font-weight: bold; font-size: 12px; line-height: 0px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 16px; height: 16px; display: block; background: #C9B197; top: 30px; left: 50%; margin-top: -15px; margin-left: -10px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 12px; height: 12px; background: #C9B197; border-radius: 50px; position: absolute; top: 2px; left: 2px; } 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot-third:after {content: ' '; width: 12px; height: 12px; background: #fff; border-radius: 50px; position: absolute; top: 2px; left: 2px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 2px; box-shadow: none; margin: 22px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #C9B197;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

@media(min-width: 768px) and (max-width:1023px){

    .left-title{padding-right: 15px;}
    .btnaccount{margin-right: 15px;}
}

@media(max-width: 767px){
    .btnaccount{text-align: center; float: none;}
    .padding-out{padding: 0px;}
    .paid-row{margin-top: 20px;}
    .padding-title-querie{padding-top: 10px; text-align: center;}
    .page-heading{margin: 0;text-align: center;}
    .information{padding: 8px;}
    #cart_title{text-align: left;}
}

@media(max-width:375px){
    .r-content-summary{font-size: 10px;}
}

@media(max-width:320px){
    .name_product{margin-top: 5px;}
    .img-none-querie{width: 70px !important;}
    .ptos_cart{font-size: 8px;}
}