/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/08/2016, 01:26:22 PM
    Author     : json
*/

.title { letter-spacing: 0px; font-weight: bold; font-size: 17px; padding: 0; }
.btnaccount { float: right; }
.btnaccount a { background: #C9B197!important; letter-spacing: 0px; padding: 13px 30px!important; }
.btnaccount a:hover { background: #ee4a42!important; }
.img_product { width: 100%; }
.products, .transaction { margin-left: 0!important; }
.transaction table { margin: 0 auto; width: 50%; }
.transaction > table > thead > tr > th { text-align: center; font-size: 16px; }
.transaction > table > tbody > tr > td:first-child { text-align: right; font-weight: bold; color: #404041; }
.products td, .products tr, .products th { border: 1px solid #E5E5E5; }
.products .head { color: #404041; background-color: #F9F9F9; font-size: 16px; font-weight: bold; }
.products > tbody > tr > td:first-child { padding: 10px; }
.head > th:last-child, .products > tbody > tr > td:last-child { text-align: right; padding-right: 20px; font-weight: bold; }
.name_product { color: #404041; font-weight: bold; text-transform: uppercase; }
.number_product { font-size: 12px; }
.empty { background-color: #F9F9F9; }
.price { color: #C9B198; font-weight: bold; font-size: 15.4px; }
.card_value { color: #404041; font-size: 14.5px; }
.save { color: #E1382C; font-size: 15.4px; }
.not_view { border-left: 0px hidden #E5E5E5 !important; border-bottom: 0px hidden #E5E5E5 !important; }
.information { text-align: center; color: #EF4136; }