.container { padding: 5px 10px; }
.title { color: #000; font-weight: bold; font-size: 15px; text-transform: uppercase; letter-spacing: 2px; padding-bottom: 10px; }
.title-line-bottom { border-bottom: 2px solid #F15E54; }
.row2, .row3, .row4, .row5 { margin-top: 10px; }
.row3 { max-height: 225px; overflow-y: auto; }
.row2>div { line-height: 40px; }
.available-cards { margin: 0; font-size: 14px; }
.sortby { font-size: 12px; text-transform: uppercase; background-color: #F4F4F4; color: #000; padding: 10px; width: 160px; text-align: left; border: 1px solid #F15E54; }
.sortby>.icon-angle-down { float: right; font-size: 12px; margin-top: 1px; }
.sortby>.icon-angle-down:before { border: 1px solid #000; border-radius: 50%; float: right; padding: 0px 2px; }
#sortby { background: #fff; top: 95%; margin-left: 81px; width: 160px; }
#sortby>li>a { color: #000; padding: 5px 15px!important; text-transform: none!important; }
#sortby>li>a:hover { background-color: #fff!important; color: red; }
#sortby>li>a>i { float: right; margin-left: 20px; }
#unused>i { color: #37B549; }
#used>i { color: #F8C33F; }
#finished>i { color: #EE152A; }
.container-card { border: 1px solid #E8E8E8; padding: 7px 0; cursor: pointer; }
.name-manufacturer { color: #000; letter-spacing: 1px; font-weight: bold; }
.price { color: #F15E54; font-size: 11px; line-height: 40px; margin-bottom: 0; cursor: pointer; }
.col3 { text-align: right; }
.state-used0, .state-used1, .state-used2 { font-size: 10px; left: 6px; position: relative; top: 18px; z-index: 2; }
.state-used0 { color: #37B549; }
.state-used1 { color: #F8C33F; }
.state-used2 { color: #EE152A; }
.state-used-gift0, .state-used-gift1, .state-used-gift2 { font-size: 10px; left: 6px; position: relative; top: 18px; z-index: 2; }
.state-used-gift0 { color: #37B549; }
.state-used-gift1 { color: #F8C33F; }
.state-used-gift2 { color: #EE152A; }
.row4 { text-align: center; }
.pagination>li>a { background: #fff!important; color: #000; }
.pagination>li>a:hover, .pagination>li>a:focus { background: #EF4136!important; color: #fff; }
.pagination>li>a:focus { font-weight: bold; }
#prev-container-card, #next-container-card { background: #EF4136!important; color: #fff; font-weight: bold; padding: 6px 12px!important; }
.row5 { border-top: 1px solid #E8E8E8; border-bottom: 1px solid #E8E8E8; padding: 15px 0; }
.cardinfo { text-transform: uppercase; margin: 0; margin-bottom: 5px; font-size: 12px; }
.cardinfo>span { color: #F15E54; }
.cardcontainfo>.name-manufacturer { width: 100%; padding-bottom: 8px; border-bottom: 1px solid #E8E8E8; margin-bottom: 8px; }
.cardview-info { border-bottom: 1px solid #E8E8E8; padding-bottom: 20px; }
.img-manufacturer { width: 90%; }
.container-card>.col1 { text-align: right; }
.cardview-price { padding-top: 15px; }
.cardview-price>div>.cardinfo { font-weight: bold; margin: 0; }
.cardview-price>div>.price { font-weight: bold; margin: 0; line-height: 20px; }
#btnupt-value { background: #C9B197; color: #fff; padding: 10px 15px; text-transform: uppercase; font-weight: bold; cursor: pointer; }
.cardviewupt-price { margin-top: 10px; }
#upt-value { background-color: #E8E8E8; padding: 10px 15px; border: none; color: #777777; }
.cardviewupt-used { margin-top: 10px; }
.cardviewupt-used>div>div>label { font-weight: bold; color: #777777; text-transform: uppercase; }
div.radio { margin-right: 10px; }
.row6, .row7 { margin-top: 20px; }
.row6 { text-align: center; }
#btnbuy { background: #C9B197; color: #fff; padding: 10px 60px; text-transform: uppercase; font-weight: bold; cursor: pointer; }
.cardviewupt-instructions>.btn-info { width: 100%; background: #F15E54; border: 1px solid #F15E54; margin-top: 3px; text-align: left; }
.cardviewupt-instructions>div { border: 1px solid #E8E8E8; padding: 10px; }
.cardviewupt-instructions>.btn-info>.icon-plus, .cardviewupt-instructions>.btn-info>.icon-minus { float: right!important; margin-top: 3px; }
.cardview-price>div>.price { font-size: 18px; }
.filter-view>div { float: right; }
.used-value>div>p { margin: 0; }
.viewdetailcard { display: none; }
#terms, #instructions, #locations { max-height: 195px; overflow-y: auto; }
.address-manufacturer { margin-bottom: 15px; display: none; }
.address-manufacturer>p, .address-manufacturer>p>label { margin: 0; }
#loadMoreAddress>label, #loadMenosAddress>label { text-transform: uppercase; color: #EE152A; font-size: 11px; cursor: pointer; }
.img-code-bar-0, .img-code-bar-1, .img-code-bar-3 { margin-bottom: 20px; }
.price-gray { color: #777777; }

/*GIFT CARD*/

.btn-gift{width: 100%;
    background: #C9B197;
    border: 1px solid #C9B197;
    margin-top: 3px;
    color: #fff;
    font-weight: bold;
    text-align: left;}

.btn-gift:hover{background: #fff;color: #C9B197;font-weight: bold;border: 1px solid #C9B197;}
.btn-gift:active{background: #fff;color: #C9B197;font-weight: bold;border: 1px solid #C9B197;}
.send_gift{margin-top: 20px;}
.btn-gift > .icon-th-large{float: right;margin-top: 3px;}
.resultados {
    color: #000;
    border-bottom: 1px solid #CBCBCB;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
.div_send_gift{text-align: center;margin-top: 15px;}
#busqueda{text-align: center;}
.btn_send_gift{background: #ef4136;
    border: 1px solid #ef4136;
    color: #fff;
    font-weight: bold;}
.p-gift{margin-left: 15px;
    color: #000;
    font-weight: bold;}

.send_motive{padding: 0px; white-space: pre-line;}
#send_comment{text-align: center;}
#error_busqueda{    
    padding: 0;
    background: #ef4136;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 2px;}

@media (max-width:768px) {
    .wallet-container, #columns { padding: 0; }
    .col-xs-0 { display: none; }
    .row3 { max-height: 240px; overflow-y: auto; margin-top: 0; }
    .row1 { display: none; }
    .available-cards { font-size: 14px; font-weight: bold; color: #000; }
    .sortby { display: none; }
    .filter-view>div { float: none; }
    #sortby { display: block; height: auto; position: initial; margin: 0; padding: 0!important; border: none; box-shadow: none; margin-top: 15px; }
    #sortby>li { float: left; width: 25%; text-align: center; }
    #sortby>li>a { font-size: 13px!important; padding: 0!important; display: inline-block; }
    #sortby>li>a>i { margin: 0; float: left; width: 100%; top: -40px; position: relative; }
    .container-card>.col1 { text-align: right; }
    .container-card>.col2 { text-align: center; }
    .img-manufacturer { width: 45%; }
    .state-used0, .state-used1, .state-used2 { top: 38px; left: 24px; font-size: 15px; width: 70%; }
    .state-used-gift0, .state-used-gift1, .state-used-gift2 { top: 38px; left: 24px; font-size: 15px; width: 70%; }
    .cardview-info>div>.img-manufacturer { width: 100%; }
    .cardview-price>div { text-align: center; }
    .cardview-info, .cardview-price>div:last-child { background-color: #F4F4F4; }
    .cardview-info { padding: 15px 0px; }
    .cardview-price { padding-top: 0; }
    .cardview-price>div:first-child { padding: 15px 0px; }
    .cardview-price>div:last-child { padding: 20px 0px; }
    .cardview-price>div:last-child>.cardinfo { color: #000; margin-bottom: 10px; }
    .cardview-price>div:first-child>.cardinfo { color: #000; }
    .cardview-price>div:last-child>.price { color: #000; font-size: 20px; font-size: 30px; font-weight: initial; letter-spacing: 2px; }
    .cardviewupt-used>div:first-child { text-align: right; margin-bottom: 20px; }
    .cardviewupt-used>div:last-child { text-align: left; }
    .cardviewupt-price { text-align: center; }
    .cardviewupt-price>div { padding: 0; }
    #upt-value, #btnupt-value { width: 49%; }
    #btnupt-value { float: left; }
}

@media (max-width:385px) {
    .state-used0, .state-used1, .state-used2 { top: 36px; left: 10px; }
    .state-used-gift0, .state-used-gift1, .state-used-gift2 { top: 36px; left: 10px; }
    #sortby>li>a { font-size: 12px!important; }
    .img-manufacturer { width: 60%; }
}

@media (max-width:335px) {
    .wallet-container { margin: 0; max-width: 300px; }
    .container-card>.col2>span { font-size: 11px; }
    .state-used0, .state-used1, .state-used2 { top: 37px; left: 10px; }
    .state-used-gift0, .state-used-gift1, .state-used-gift2 { top: 37px; left: 10px; }
    #btnupt-value { padding: 10px; font-size: 11px; }
    .img-manufacturer { width: 71%; }
    #sortby>li { width: 50%; }
    .cardview-info>div { width: 100%; text-align: center; }
    .cardview-info>div>.img-manufacturer { width: 50%; margin-bottom: 10px; }
    .cardview-price>div:last-child>.cardinfo { color: #000; margin-bottom: 0px !important; }
    .cardview-price>div:last-child>.price { font-size: 16px !important; }
}

@media (max-width:280px) {
    .wallet-container { margin: 0; max-width: 250px; }
    .state-used0, .state-used1, .state-used2 { top: 38px; left: 7px; font-size: 12px; }
    .state-used-gift0, .state-used-gift1, .state-used-gift2 { top: 38px; left: 7px; font-size: 12px; }
    .img-manufacturer { margin-top: 5px; }
    #btnupt-value { padding: 2px; }
    .cardviewupt-used>div { padding: 0; }
    .cardviewupt-used>div:first-child { text-align: left; }
    .cardview-price>div:last-child>.cardinfo { color: #000; margin-bottom: 0px !important; }
    .cardview-price>div:last-child>.price { font-size: 16px !important; }
}