.oneline { display: block; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }


form#searchbox { position: absolute; top: 8%; z-index: 10000; width: 100%; }
form#searchbox label { color: #252525; }
form#searchbox input#search_query_block { margin-right: 10px; max-width: 222px; margin-bottom: 10px; display: inline-block; float: left; }
form#searchbox .button.button-small { float: left; }
form#searchbox .button.button-small i { margin-right: 0; }

#search_query_top{
    position: fixed;
    margin-top: 31px;
    height: 7vw;
    color:#000;
    font-size: 1.4vw;
    padding-left: 6vw;
    background-color: #F5F5F5;
    border: none;
}

.cerrar{
    position: fixed;
    float: right;
    color: #000;
    font-size: 2.5vw;
    z-index: 3;
    top: 7vw;
    right: 0;
    margin-right: 5vw;
}

#searchbox2 {
    display: inline-flex;
    width: 100%;
}

#search_query_top2 {
    width: 100%;
    height: 50px;
    background-color: #4D4D4D;
    border: none;
    padding-left: 10px;
    text-transform: uppercase;
}

.icon-block-searchtoogle {
    padding: 12px;
    font-size: 25px;
}

.cerrar:hover{
    cursor:pointer;
    color: #ee4a42;
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
}
#search_block_top {width: 5%;height: 86px;display: inline-block;float: right;}
@media (min-width: 992px) { /*#search_block_top { padding: 0 30px; } */}
#search_block_top #searchbox { float: left; width: 100%; overflow: hidden; background: #484848; }
#search_block_top .btn.button-search { color: #808285; background: transparent; display: block; position: absolute; top: 0; right: 0; border-left: 1px solid #d3d3d3;border-right: 1px solid #d3d3d3; border-top:none; border-bottom: none;text-align: center; height: 68px; width: 85px;}
#search_block_top .btn.button-search span { display: none; }
#search_block_top .btn.button-search:before { content:url("search.png"); display: inline; font-family: "FontAwesome"; font-size: 25px; width: 75px; height: 86px; line-height:  65px; text-align: center; font-weight: 100; -webkit-transition: all 1.4s ease;}
#search_block_top .btn.button-search:hover:before { content:url("search2.png"); display: inline; font-family: "FontAwesome"; font-size: 25px; width: 75px; height: 86px; line-height:  65px; text-align: center; font-weight: 100; -webkit-transition: .6s ease-out;}
#search_block_top #search_query_top { display: inline; padding: 5px 35px 5px 13px; line-height: 25px; height: 35px; background: transparent; border: 0; margin-right: 1px; }

.ac_results { background: white; border: 1px solid #e5e5e5; width: 271px; margin-top: -1px; }
.ac_results li { padding: 0 10px; font-weight: normal; color: #686666; font-size: 13px; line-height: 22px; }
.ac_results li.ac_odd { background: white; }
.ac_results li:hover, .ac_results li.ac_over { background: #fbfbfb; }

@media (max-width: 1024px){
    #search_query_top{
      margin-top: 8px;
    }   
    .cerrar{top: 8vw;}
}

@media (max-width:2500px){
    #search_query_top{
      margin-top: 13px;
    }   
    .cerrar{top: 6vw;}
}